/* 
    Document   : agi_rules.js
    Created on : Apr 30, 2010, 12:57:40 PM
    Author     : guax
    Description:
        Purpose of the stylesheet follows.
*/

.tabela_regra_negocio {
    margin-bottom: 10px;
}

.tabela_regra_negocio th {
    font-weight: bold;
    text-align: right;
    width: 150px;
    vertical-align: top;
    padding-top: 7px;
}

/* Reseting */
.tabela_regra_negocio,
.tabela_regra_negocio tr,
.tabela_regra_negocio td,
.tabela_regra_negocio th {
    border: none;
}

#actions,
#actions tr,
#actions th,
#actions td {
    padding: 0px;
    margin: 0px;
}

#main_container {
    padding: 10px;
}

#actions_toolbar {
    border-top: 1px solid #A4A7AB;
    border-left: 1px solid #A4A7AB;
    border-right: 1px solid #A4A7AB;
    padding: 5px;
    margin-bottom: 0px;
}

#loader_icon {
    float: right;
    padding: 4px;
    display: none;
}

#actions, #actions-list-scrollable {
    height: 400px;
}

#actions {
    border: 1px solid #A4A7AB;
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
}

#actions tr {
    padding: 0px;
    margin: 0px;
}

#actions td, #actions th {
    margin: 0px;
    padding: 0px;
    border: 1px solid #A4A7AB !important;
}

#actions th {
    text-align: left;
    font-size: 10px;
    vertical-align: middle;
    font-size: 10px;
    height: 25px;
    padding-left: 5px;
    font-family: sans-serif;
    color: #666;
    width: auto;
    background-image: url(../imagens/menu.png);
}

#actions td {
    vertical-align: top;
}

#actions-list-container {
    padding: 0px !important;
    width: 250px;
    border-right: 1px solid #A4A7AB !important;
}

#actions-list-scrollable {
    position: relative;
    overflow: auto;
    padding-bottom: 10px;
}

#actions_list {
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

#actions_list li {
    list-style-position: inside;
    font-family: sans-serif;
    font-size: 10px;
    padding: 4px;
    margin-top: -1px;
    border-bottom: 1px solid #A4A7AB;
    border-top: 1px solid #A4A7AB;
    cursor: pointer;
}

#actions_list li:hover {
    background-color: #efefef;
}

.active {
    background-color: #FAFFBD;
}

.active:hover {
    background-color: #FAFFBD !important;
}

.error_box {
    margin: 0px auto 10px auto !important;
    padding: 10px 10px 10px 25px !important;
    background-image: url("../imagens/error_16.png") !important;
}

.info_box {
    margin: 0px auto 10px auto;
    padding: 5px 5px 5px 24px;
    background-image: url(../imagens/ico_info.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #eeeeff;
    border: 1px solid #A4A7AB;
}