/* 
    Document   : index.css
    Created on : Dec 2, 2010, 2:54:10 PM
    Author     : Henrique Grolil Bassotto
    Description:
        Folha de estilos que descreve a aparência específica das telas de indíce
*/

table {
    width: 100%;
    border-collapse: collapse;
}

table .numeric, table .action {
    text-align: center;
}

th {
    padding-top: 5px !important;
    padding-bottom: 5px  !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

td, th {
    border: 1px solid #A4A7AB;
    font-size: 11px;
    text-align: left;
}

#content {
    border: none;
    /*width: 975px;*/
    padding: 0 ;
}
.links {
    float:right;
    padding-top: 10px;
}

.links a:hover {
    text-decoration: underline;
    color: #000;
}

.links a {
    display: inline-block;
    margin: 0;
    padding-left: 18px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #696969;
    font-weight: bold;
    text-decoration: none;
}

.links .include {
    background: url("../imagens/include.png") no-repeat center left;

}

.links .includes {
    background: url("../imagens/include_all.png") no-repeat center left;
}

.filtros {
    background-image: url(../imagens/bg_filtro.png);
    background-repeat: repeat-x;
    background-color: #fff;
    border: 1px solid #A4A7AB;
    padding: 0px 4px 0px 4px;
    margin-bottom: 2px;
    height:37px;
}

.filtros .zend_form {
    margin: 0px;
    padding: 0px 5px;
    display: block !important;
    height: 37px;
}
