<h1><?php echo $this->title ?></h1>
<p><?php echo $this->message ?></p>

<?php if ('development' == APPLICATION_ENV): ?>

<h3>Exception information:</h3>
<p>
    <b>Classe:</b> <?php echo get_class($this->exception); ?><br />
    <b>Message:</b> <?php echo $this->exception->getMessage(); ?>
</p>

<h3>Stack trace:</h3>
<pre><?php echo $this->exception->getTraceAsString(); ?></pre>

<h3>Request Parameters:</h3>
<pre><?php var_dump($this->request->getParams()); ?></pre>
<?php endif; ?>