<div class="inspect">
<?php
        echo "<ul>";
            foreach( $this->inspect as $chave => $valor ) {

                $style = ( $valor['error'] ? 'list_error' : 'list_no_error' );

                echo " <li class='$style' > {$valor['name']} </li> ";

                if ($valor['error']) {
                    echo "<li style=\"background-color: #FFEDED\"> <pre> {$valor['message']} </pre> </li>";
                }
            }
        echo "</ul>";
?>
</div>

<div class="menus" style="margin-top:15px; padding: 15px;border-top: 1px solid #d2d2d2;">
    <div style="margin:0 auto;width: 200px;">
        <button onclick="location.reload(true)"><?php echo $this->translate("Testar Novamente"); ?></button>
    </div>
</div>
