<?php echo $this->doctype(); ?>
<html>
<head>
    <?php echo $this->headTitle() . "\n"; ?>
    <?php echo $this->headLink() . "\n"; ?>
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headStyle() . "\n"; ?>
    <?php echo $this->headScript() . "\n"; ?>
</head>
<body>
    <div id="header">
        <a href="<?php echo Zend_Registry::get('config')->system->path->web; ?>" alt="inicio" title="inicio">
            <img src="<?php echo $this->baseUrl(); ?>/imagens/snep_logo.png" alt="SNEP" id="snep_logo" />
        </a>
    </div>
    <?php if(!$this->hideMenu): ?>

    <?php
    $front = Zend_Controller_Front::getInstance();
    $request = $front->getRequest();
    $module = $request->getModuleName();
    $controller = $request->getControllerName();
    $action = $request->getActionName();
    $url = $module . "_" . $controller . "_" . $action . ".php";
    ?>
    <div id="menu">
       <div id="ajuda">
           <spam onclick="janelaSecundaria('<?php echo Zend_Registry::get('config')->system->path->web;?>/src/ajuda.php?script=<?php echo $url?>&tp=true','Ajuda','500','600')">
               Ajuda
           </spam>
       </div>
        <?php echo $this->menu; ?>
    </div>
    <?php endif; ?>
    <div id="breadcrumb">
        <?php echo $this->breadcrumb; ?>
    </div>
    <div id="content">
        <?php echo $this->layout()->content; ?>
    </div>
    <div id="footer">
        <p id="footer_vendor""><?php echo Zend_Registry::get('vendor');?></p>
        <p id="footer_version">Snep <?php echo Zend_Registry::get('snep_version');?></p>
    </div>
</body>
</html>