<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/index.css" );
$this->headScript()->appendFile('/snep/includes/javascript/scriptaculous/lib/prototype.js');
$this->headScript()->appendFile('/snep/includes/javascript/scriptaculous/src/scriptaculous.js');
$this->headScript()->appendFile('/snep/includes/javascript/registrations.js');
echo $this->render('filter.phtml');
?>
<table>
   <thead>
      <tr>
         <th class="action"> <?php echo $this->translate('Código') ?> </th>
         <th> <?php echo $this->translate('Nome') ?> </th>
         <th colspan="2" class="action"> <?php echo $this->translate('Ações') ?> </th>
      </tr>
   </thead>
   <tbody>
    <?php
    $c = 0;
    if($this->pickupgroups):
        foreach($this->pickupgroups as $id => $val ): ?>
            <?php ($c ? $c = 0 : $c = 1 ); ?>
            <tr class="c<?php echo $c ?>">
                <td class="numeric"> <b> <?php echo $val['cod_grupo'] ?> </b> </td>
                <td> <?php echo $val['nome'] ?> </td>
                <td class="action">
                    <a class="alterar" href='/snep/src/pickup_groups.php?acao=alterar&cod_grupo=<?php echo $val['cod_grupo'] ?>'>
                        <?php echo $this->translate('Alterar')?>
                    </a>
                </td>
                <td class="action">
                    <span class="excluir" onclick="remove_item('/snep/src/pickup_groups.php?acao=excluir&cod_grupo=<?php echo $val['cod_grupo'] ?>', 'Deseja realmente excluir o Grupo de Captura?');">
                        <?php echo $this->translate('Excluir')?>
                    </span>
                </td>
            </tr>
        <?php endforeach ?>
    <?php endif ?>
   </tbody>
</table>

<?php echo $this->render('pagination.phtml') ?>
