<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/index.css" );
$this->headScript()->appendFile('/snep/includes/javascript/scriptaculous/src/scriptaculous.js');
$this->headScript()->appendFile('/snep/includes/javascript/registrations.js');
echo $this->render('filter.phtml');
?>

<table>
   <thead>
      <tr>
         <th> <?php echo $this->translate('Ramal') ?> </th>
         <th> <?php echo $this->translate('Nome do Usuário') ?> </th>
         <th> <?php echo $this->translate('Canal') ?> </th>
         <th> <?php echo $this->translate('Grupo de Ramal') ?> </th>
         <th colspan="3" class="action"> <?php echo $this->translate('Ações') ?>  </th>
      </tr>
   </thead>
   <tbody>
    <?php
    $c = 0;
    foreach($this->extensions as $cha => $val ): ?>
        <?php ($c ? $c = 0 : $c = 1 ); ?>
        <tr class="c<?php echo $c ?>">
            <td> <b> <?php echo $val['exten'] ?> </b> </td>
            <td> <?php echo $val['name'] ?> </td>
            <td> <?php echo $val['channel'] ?> </td>
            <td> <?php echo $val['group'] ?> </td>
            <td class="action">
                <a class="alterar"  href='<?php echo $this->baseUrl(); ?>/src/extensions.php?action=edit&id=<?php echo $val['exten'] ?>'>
                    <?php echo $this->translate('Alterar')?>
                </a>
            </td>
            <td class="action">
                <?php if($val['exten'] != "admin"): ?>
                <span class="excluir" onclick="remove_item('<?php echo $this->baseUrl(); ?>/src/extensions.php?action=delete&id=<?php echo $val['exten'] ?>' , '<?php echo $this->translate('Deseja realmente excluir o ramal?')?>' );">
                    <?php echo $this->translate('Excluir')?>
                </span>
                <?php endif; ?>
            </td>
            <td class="action">
                <a class="membros"  href='<?php echo $this->baseUrl(); ?>/configs/permissoes.php?id=<?php echo $val['id']?>&nome= <?php echo $val['name'] ?>&name=<?php echo $val['exten']?>' >
                    <?php echo $this->translate('Permissões')?>
                </a>
            </td>
        </tr>
    <?php endforeach ?>
</table>
<?php echo $this->render('pagination.phtml') ?>
