<?php
/* @var $this Zend_View */
/* @var $form SnepForm */
$form = $this->form;
$form->removeDecorator('form');
$form->removeElement('submit');
?>

<form enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAction(); ?>" method="<?php echo $form->getMethod(); ?>">
    <?php echo $form; ?>
    <p class="installer_buttons"><button type="submit"><?php echo $this->translate("Enviar e Concluir"); ?></button></p>
</form>