<h1> <?php echo $this->translate("Bem vindo ao SNEP Livre!"); ?> </h1>

<p>
<?php echo $this->translate("Você será conduzido na instalação do SNEP."); ?>
</p>

<ul>
    <li><?php echo $this->translate("Diagnóstico do Sistema") ?></li>
    <li><?php echo $this->translate("Configuração do acesso a Banco de Dados, Asterisk"); ?></li>
    <li><?php echo $this->translate("Definição da senha do Administrador"); ?></li>
</ul>

<p class="installer_buttons">
    <button onclick="location.href='<?php echo $this->next;?>'"><?php echo $this->translate("Iniciar a Instalação"); ?></button>
</p>