<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/index.css" );
$this->headScript()->appendFile('/snep/includes/javascript/scriptaculous/lib/prototype.js');
$this->headScript()->appendFile('/snep/includes/javascript/scriptaculous/src/scriptaculous.js');
$this->headScript()->appendFile('/snep/includes/javascript/registrations.js');
echo $this->render('filter.phtml')
?>

<table>
   <thead>
      <tr>
         <th class="action"> <?php echo $this->translate('Código') ?></th>
         <th> <?php echo $this->translate('Nome') ?></th>
         <th class="action" colspan="3"> <?php echo $this->translate('Ações') ?></th>
      </tr>
   </thead>
   <tbody>
    <?php
    $c = 0;
    if($this->groups):
        foreach($this->groups as $cha => $val ): ?>
            <?php ($c ? $c = 0 : $c = 1 ); ?>
            <tr class="c<?php echo $c ?>">
                <td class="numeric"> <b> <?php echo $val['id'] ?> </b> </td>
                <td> <?php echo $val['name'] ?> </td>        
                <td class="action">
                    <a class="alterar" href='/snep/src/queues_group.php?acao=alterar&cod_grupo=<?php echo $val['id'] ?>'>
                        <?php echo $this->translate('Alterar')?>
                    </a>
                </td>
                <?php if($val['id'] != 1){?>
                <td class="action">
                    <span class="excluir"  onclick="remove_item('/snep/src/queues_group.php?acao=excluir&cod_grupo=<?php echo $val['id'] ?>', '<?php echo $this->translate('Ao excluir o grupo as filas pertencentes a ele serão migradas para o grupo Default. Deseja realmente excluir o Grupo de Filas?')?>')" >
                        <?php echo $this->translate('Excluir')?>
                    </span>
                </td>
                <?php }else{?>
                <td></td>
                <?php } ?>
            </tr>
        <?php endforeach ?>
    <?php endif ?>
</table>

<?php echo $this->render('pagination.phtml') ?>