<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Cadastro de Pausas</h2>

<p>
A opção de menu: <b>Cadastro >> Cadastro de pausas</b> permite que sejam definidas tipos de pausa a serem usadas quando o Agente fizer uma "parada" no seu atendimento.
</p>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=agents_events_add">Incluir Pausa</a></li>
    <li><a href="ajuda.php?script=agents_events_edit">Editar Pausa</a></li>
</ul>