<!--
* =========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* =========================================================================
-->
<h2>Cadastro de Agentes</h2>

<p>Esta rotina do sistema permite que Agentes sejam Cadastros/Configurados para as Filas de Atendimento. </p>
<strong>Um Agente pode ser:</strong>

<ul>
    <li> <strong>Est&aacute;tico:</strong> Quando ele permanece sempre ativo em uma ou mais fila de atendimento. </li>
    <li>
         <strong>Din&acirc;mico:</strong> Quando   ele   precisa   efetuar   a&ccedil;&otilde;es   de   Login   e   Logoff   para   entrar   e   sair   da   Fila   de
         Atendimento.
    </li>
</ul>

<p>
Os c&oacute;digos do Agentes devem ser pr&eacute;-definidos atrav&eacute;s das Configura&ccedil;&otilde;es do Sistema. Para isso, acesso o
Menu:    Configura&ccedil;&otilde;es   >>   Par&acirc;metros  e   defina   os   c&oacute;digos   na   op&ccedil;&atilde;o   "Range   de   C&oacute;digos   para
Agentes". A Figura a seguir mostra um ambiente com alguns c&oacute;digos de agentes em uso e outros n&atilde;o.
</p>


<p><strong>C&oacute;digo:</strong>   &eacute;   o   C&oacute;digo   do   Agente.   A   Lista   de   C&oacute;digos   exibida,   &eacute;
baseada   no   Intervalo   de   C&oacute;digos configurado na Rotina Par&acirc;metros (Menu: Configura&ccedil;&otilde;es >> Par&acirc;metros).</p>

<p><strong>Nome:</strong> Define um Nome para o Agente (Ex: Jo&atilde;o da Silva)</p>

<p><strong>Senha:</strong> Define   uma   senha   para   o   Agente   poder   efetuar   o  LOGIN  na   Fila.   A   senha   DEVE   ser
EXCLUSIVAMENTE NUM&Eacute;RICA. </p>

<strong>A&ccedil;&otilde;es</strong>
      <ul>   
         <li><b>Ativar / Desativar</b> - determina se o Agente poder&aacute; ou 
   n&atilde;o usar o sistema de telefonia.</li> 
          <li><img src="/snep/imagens/usuario.png" width="16" height="16" border="0" hspace="2" alt="Filas" align="left">          
           - determina em qual(is) fila(s) o Agente ser&aacute; logado automaticamente pelo Asterisk.
           (<a href="ajuda.php?script=queues_agent">v+: Filas do Agente</a>)<br>
         </li>
      </ul>
   </li>
</ul>