<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Filas e Agentes</h2>

<p>
Os Agentes trabalham, por conceito geral, de modo receptivo, por serem atendentes dinâmicos de filas cujos postos de trabalho físicos não estão vinculados ao atendente.
</p>
<p>
A opção de menu: <b>Cadastro >> Filas e Agentes</b> permite ao usuário manipular todas as filas cadastradas, podendo inserir/retirar agentes de uma forma muito simples, somente clicando nos botões de cada agente:
</p>
<ul>
	<li><b>Vermelho</b> = remove
	<li><b>Verde</b> = adiciona
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=agents_agents_index">Cadastro de Agentes</a></li>
</ul>