<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Incluir Pausa</h2>

<p>
Para ser incluida uma Pausa é necessário apenas informar seu nome e clicar em salvar, seu código será formado automáticamente.
</p>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=agents_events_index">Cadastro de Pausas</a></li>
</ul>