<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Incluir Agente</h2>

<p>
É necessário preencher os seguintes campos para realizar o cadastro de um Agente:
</p>
<ul>
	<li><b>Código</b> - número do Agente
	<li><b>Nome</b> - nome por extenso ou uma descrição do Agente
	<li><b>Senha</b> - senha para login do Agente
	<li><b>Filas de atendimento</b> - são as filas que o agente estará presente ao efetuar Login
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=agents_agents_index">Cadastro de Agentes</a></li>
</ul>