<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Configuração de Agentes</h2>

<p>
Selecionando o menu <b>Configurações</b> é possível configurar se os ramais com agentes em pausa poderão FAZER e RECEBER ligações ou não. Também há a opção de que os arquivos de gravação possuirão como origem o código do agente.
</p>
<p>
Para efetuar as alterações clique no botão <b>Enviar</b>.
</p>
<p>
<b>ATENÇÃO: Não altere estas configurações se existirem agentes logados ou pausados.</b>
</p>
