<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Cadastro de Agentes</h2>

<p>
Este módulo tem por objetivo a disponibilização de recursos para a manipulação via interface do SNEP dos Agentes e Filas de atendimento.
</p>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=agents_agents_multi-add">Incluir agentes</a></li>
    <li><a href="ajuda.php?script=agents_agents_add">Incluir agente</a></li>
    <li><a href="ajuda.php?script=agents_agents_agent-queues">Filas e Agentes</a></li>
</ul>