<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Status</h2>

<p>
Na opção de menu Status é possível verificar de forma rápida todos os agentes disponíveis, informando código, nome, ramal que o agente está logado no momento e um botão para desloga-lo.
</p>
