<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Incluir Agentes</h2>

<p>
Há também a possibilidade de adicionar múltiplos agentes ao mesmo tempo acessando o menu: <b>Cadastros >> Agentes >> Incluir agentes</b>, somente informando o Range dos agentes, exemplo "1000-1007", e as filas em que eles estarão presentes ao efetuar Login.
</p>
<ul>
	<li><b>Range de Agentes</b> - range dos números dos agentes.
	<li><b>Filas de atendimento</b> - são as filas que os agentes estarão presente ao efetuar Login.
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=agents_agents_index">Cadastro de Agentes</a></li>
</ul>