<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Editar Pausa</h2>

<p>
Clicando em editar na listagem das pausas cadastradas é possível somente alterar o nome da pausa.
</p>

<p>Links Relacionados</p>
<ul>
   	<li><a href="ajuda.php?script=agents_events_index">Cadastro de Pausas</a></li>
</ul>