<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>ARS » Simulador</h2>

<p>
No <b>Simulador</b> será possível verificar se suas regras criadas no menu Configurar Regras, estão corretas, nele há um campo aonde será inserido um número para simular uma ligação. Clicando em Simular será exibido quais regras serão aplicadas para este número.
</p>
<p>
Caso exista alguma regra compatível será exibido abaixo nas <b>Regras a serem Aplicadas</b> as informações de Operadora, Tranco, centro de custos e código da operadora serão exibidas em um campo verde.
</p>
<p>
Não existindo nenhuma regra válida irá cair na regra padrão definida nas Regras Gerais em um campo vermelho.
</p>