<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>ARS » Configurar Regras</h2>

<p>
O menu Configurar Regras é muito parecido com as Regras de Negócio presentes no Snep, nele será tratada o centro de custo de cada ligação efetuada tomando base no código de Operadora mais o Prefixo da região.
</p>
<p>
Será verificado nas Regras do ARS se o número discado casa com alguma regra presente, caso não encontre nenhuma será encaminhado para as Regras Gerais.
</p>
<p>
<br>
Existem dois botões na tela para a criação e remoção das Regras do ARS:
</p>
<ul>
	<li><b>Nova Regra</b>: botão que habilita uma regra para ser configurada.
	<li><b>Remover Todas</b>: remove todas as regras criadas, caso queira remove-las individualmente é necessário clicar no ícone <img src="/snep/imagens/dot_remove.png" width="13" height="13"> nas Regras do ARS.
</ul>
<br>
<ul><b>Regras do ARS:</b>
	<li>Operadora: um combobox para seleção da Operadora desejada.
	<li>Código de Operadora de Longa: campo onde será informado o código de operadora de longa distância.
	<li>Centro de Custo (VC1): centro de custos para ligações locais.
	<li>Centro de Custo (VC2/VC3): centro de custo para ligações de longa distância.
	<li>Tronco de Saída: por qual tronco será feita a saída da ligação.
</ul>
<br>
<ul><b>Regras Gerais:</b>
	<li>Código LDN (Local): código de operadora local.
	<li>Código de Operadora de Longa: código da operadora de longa distância.
	<li>Centro de Custos (VC1): centro de custos para ligações locais.
	<li>Centro de Custos (VC2/VC3): centro de custos para ligações de longa distância.
	<li>Tronco Padrão: qual tronco será feita a saída da ligação.
</ul>
