<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>ARS » Portabilidade</h2>

<p>
Este menu possibilita importar números que foram aplicados portabilidade. Para adiciona-los é necessário utilizar um arquivo contendo o Código de Área e o número no formato CSV.
</p>
