<!-- 
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC             
* Autor: Tiago Zimmermann <tiago.zimmermann@opens.com.br>
* ========================================================================
-->
<h2>Relatório de Disponibilidade de agente</h2>

<p>
    Este relatório permite visualizar os principais eventos associados a um ou mais agentes, tais como login, logoff, pausas e despausas. 
    O principal benefício desse relatório é apresentar ao gestor uma visão de quando cada agente realizou tais eventos, de forma que fique 
    claro se o mesmo realizou login/logoff e a quantidade e tempo das pausas feitas em determinado período de tempo.
    <br>O relatório possui uma série de opções de visualização, podendo-se verificar os dados em tela ou em arquivo CSV. Além disso, pode-se escolher o tipo analítico, que apresenta os dados de forma contínua, ou sintético, que apresenta os dados agrupados por agente. 
    <br>
    
    <br>Data Inicial: Data inicial para consulta do relatório. No final do campo há uma caixa com o calendário, para a escolha da data.
    <br>Data Final: Data final para consulta do relatório. No final do campo há uma caixa com o calendário, para a escolha da data.
    <br>Agentes: Código do agente para consulta do relatório, caso queira efetuar a consulta de mais de um agente, deve-se separa-los por virgula, ou range de agentes.
    <ul>
        <li>Exemplo 1: 2000,2001 trará informação dos dois agentes.</li>
        <li>Exemplo 2: 2000-2002 trará informação do 2000,2001 e 2002.M</li>
    </ul>
        <br>Ordenar resultados: Forma de como os dados serão exibidos no relatório.
    <br>Data: Os dados são exibidos em ordem de data mais antiga a data atual.
    <br>Agente: Os dados são agrupados por agentes, em ordem do código menor para o maior.
    <br>Tipo de relatório: O relatório de disponibilidade de agente é dividido em dois tipos:
    <ul>
    <li>Analítico - Exibe todos os eventos com a hora e data respectiva</li>
    <li>Sintético - Exibe os dados agrupados por dia e agente.</li>
    </ul>
    <br>Visualização: O relatório pode ser visualizado em tela ou exportado para arquivo CSV.

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_agent-availability_analytic">Relatório de Disponibilidade de agente » Analítico</a></li>
    <li><a href="ajuda.php?script=cc_agent-availability_synthetic">Relatório de Disponibilidade de agente » Sintético</a></li>
</ul>


