<!-- 
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC             
* Autor: Tiago Zimmermann <tiago.zimmermann@opens.com.br>
* ========================================================================
-->
<h2>Relatório de Disponibilidade de agente » Sintético</h2>

<p>
    Neste relatório são exibidos os dados dos agentes agrupados por dia ou agente.
    <br>
    <br>Data: Data dos dados gerados.
    <br>Agente: Informa o agente que efetuou o evento(Exibição é mostrada conforme configurado em Configuração CC).
    <br>Eventos(Nº de Pausas): Existe sempre 4 eventos que são mostrados na tela:
<ul>
    <li>Tempo Ocioso: Tempo em que o agente não está em atendendimento(Resultado do tempo disponível - Tempo em chamadas).</li>
    <li>Tempo em chamadas: Totalização do tempo em que o agente esteve em atendimento.</li>
    <li>Disponível: Tempo logado do agente.</li>
    <li>Indisponível: Tempo faltante para cumprir a jornada de trabalho. Diferença da jornada de trabalho do agente e tempo disponivel + tempo de pausas.</li>
    <li>Tempo: Informação do nome da pausa e quantidade de pausas entre parênteses e a soma do tempo de todas as pausas.</li>
    
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_agent-availability_index">Relatório de disponibilidade de agentes</a></li>
</ul>


