<!-- 
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC             
* Autor: Tiago Zimmermann <tiago.zimmermann@opens.com.br>
* ========================================================================
-->
<h2>Relatório de Disponibilidade de agente » Analítico</h2>

<p>
    Neste relatório são exibidos detalhadamente os eventos do agente..
    <br>
    
    <br>Data: Data e horário do evento.
    <br>Agente: Informa o agente que efetuou o evento(Exibição é mostrada conforme configurado em Configuração CC).
    <br>Evento: Evento efetuado pelo agente. Caso o evento seja pausa é informado o nome da pausa cadastrada no sistema.

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_agent-availability_index">Relatório de disponibilidade de agentes</a></li>
</ul>


