<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Configuração do CC</h2>

<p>
    A configuração do CC foi criada para que o usuário modifique a exibição dos relatórios conforme sua melhor opção.
    <br>
    <br>Visualização no relatório: Valor a ser mostrado nos relatórios nos campos agentes. Ao escolher a opção, os relatórios do Snep(Chamadas do períodos e Ranking de ligações), também são modificados conforme a escolha.
    <br>Horas trabalhadas: Utilizado no relatório de disponibilidade do agente, onde o calculo de tempo indisponível e disponível é baseado nas horas trabalhadas do agente. Recomenda-se escolher um valor um pouco maior da jornada do agente.
    <br>Tempo de entrada de ligação: Utilizado no relatório de Filas Dac na opção "informação da ligação", o valor em SEGUNDOS é o tempo a ser acrescentado na hora inicial da consulta do relatório de chamadas do período. Caso aconteça que exista uma URA, a chamada ao entrar na URA é inserida no banco com a data atual, se a URA dure 10 segundos para transferir a ligação para a fila a ligação é inserida no banco após esses 10 segundos, portanto deve ser informado esse tempo que os dados da ligação demoram para ser inserido no banco. Recomenda-se um tempo de 10% maior que o tempo da URA. Caso o ambiente não possua URA e a ligação é totalmente transferida para fila, favor desconsiderar o campo.
