<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Relatório de filas – DAC » Totalização</h2>

<p>
    O relatório DAC totalização permite visualizar o total de ligações que entraram em uma fila especificada separadas por data e hora. Será informado na cor vermelho o pico de ligações daquele dia. Assim é possível observar em qual horário determinada fila possui um maior pico de ligações.
    
<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_dac_index">Relatórios de fila – DAC</a></li>
</ul>