<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Relatórios de fila – DAC</h2>

<p>
    Relatório estatístico da fila de atendimento com amostras de: Atendimentos, Abandonos, TME (Tempo Médio de Espera), TMA (Tempo Médio de Atendimento), TMC (Tempo Médio de Chamada), Transbordo (Tempo Limite) e Ligações Rejeitadas pela Fila.
    <br> 
    <br>Modo de funcionamento:
    <br> 
    <br>No relatório do tipo <i>analítico</i> o número total de chamadas que é mostrado na parte inferior do relatório é o total de chamadas no período, sendo que se a ligação tocou no agente e o mesmo não atendeu é contabilizada a chamada na totalização.
    <br>Exemplo: Caso se busque no filtro do relatório informações do agente1 em determinada fila, a totalização vai ser todas as chamadas que tocaram no agente1, mesmo ele não atendendo a chamada.
    <br>
    <br>No relatório do tipo <i>sintético</i> o valor total é a totalização das ligações atendidas pelo agente.
    <br>Exemplo: Se a ligação cai na fila Atendimento e toque no agente1 e ele não atenda, em seguida toque no agente2 e ele atenda. A chamada não é contabilizada para o agente1 caso a busca no filtro seja por ele.
    <br>No relatório do tipo <i>totalização</i> o valor informado é a totalização das ligações da fila no período, separadas por dia e hora. No horário do dia em que houve o maior pico de ligações ele será informado da cor vermelha.
    <br>
    <br>Data inicial: Data inicial para consulta do relatório. No final do campo há uma caixa com o calendário, para a escolha da data.
    <br>Data final: Data final para consulta do relatório. No final do campo há uma caixa com o calendário, para a escolha da data.
    <br>Filas de Atendimento: Fila de atendimento a ser consultada no relatório. É possível escolher mais de uma utilizando selecionando as filas desejadas com a tecla CTRL apertada.
    <br>Busca por agentes: Busca a informação cuja chamada tocou no agente especificado, mesmo ele não atendendo a ligação.
    <br>Tipo de relatório: O relatório de filas DAC é divido em dois tipos:
    <ol>
        <li><b>Tipo Analítico</b> - Exibe os dados das chamadas na fila detalhadamente.
        <li><b>Tipo Sintético</b> - Exibe a totalização e médias dos dados e gráficos para números de ligações e tempos médios.
        <li><b>Totalização</b> - Exibe o pico de ligações separadas por dia e hora.
    </ol>
    Visualização: O relatório pode ser visualizado em tela ou exportado para arquivo CSV.

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_dac_analytic">Relatório de filas – DAC » Analítico</a></li>
    <li><a href="ajuda.php?script=cc_dac_synthetic">Relatórios de filas – DAC » Sintético</a></li>
    <li><a href="ajuda.php?script=cc_dac_total">Relatórios de filas – DAC » Totalização</a></li>
</ul>