<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Relatório de filas – DAC » Analítico</h2>

<p>
    O relatório DAC analítico permite visualizar as ligações que entraram em uma fila especificada e monitorar os tempos em que a mesma permaneceu na fila e qual foi o fluxo pela qual a mesma tramitou internamente. Além disso, pode-se acessar informações mais específicas da ligação em si através do botão Informação da ligação. Ainda nas informações da chamada na fila, encontra-se quem encerrou a ligação no campo <i>Último Status</i>. 
    
<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_dac_index">Relatórios de fila – DAC</a></li>
</ul>