<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Relatório de filas – DAC » Sintético</h2>

<p>
    O DAC sintético sumariza as informações das ligações recebidas na fila de atendimento informada, apresentando o resumo das informações em formato gráfico para o período especificado. Esse relatório apresenta também alguns indicadores de atendimento TME (tempo médio de espera), TMA (tempo médio de atendimento) e TMC (tempo médio de ligação), percentual de ligações atendidas e abandonadas. Além do sumário do período, o relatório apresenta os mesmos dados parciais em cada dia do período informado no filtro do relatório.
    
<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_dac_index">Relatórios de fila – DAC</a></li>
</ul>