<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Status de filas</h2>

<p>
    O relatório de status de fila é em tempo real e permite que o gestor verifique, num período de tempo, a quantidade total de chamadas, atendidas, abandonadas, bem como os tempos de limite esgotado/rejeitadas, tempo médio em espera e se chamdas estão dentro do SLA especificado. Os dados podem ser visualizados de forma gráfica e são recarregados em determinados períodos de tempo.
    <br>
    <br>Filas de atendimento: Fila a qual se deseja monitorar.
    <br>Período: Período de monitoramento da fila, os valores são: última hora, últimas duas horas, últimas quatro horas e último dia. 

<ul>
    <li><a href="ajuda.php?script=cc_queue-status_synthetic">Status de filas » Sintético</a></li>
</ul>