<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Status de filas » Sintético</h2>

<p>
    Total de chamadas: Total de chamadas da fila no período.
    <br>Chamadas atendidas: Total de chamadas atendidas no período.
    <br>Abandonadas: Total de chamadas abandonadas no período.
    <br>Tempo limite esgotado/rejeitadas: Total de chamadas com tempo limite esgotado(conforme configurado na regra) ou rejeitada.
    <br>Tempo médio em espera: Tempo médio de atendimento em segundos das chamadas.
    <br>Chamadas dentro do SLA: Percentual das ligações dentro do nível de serviço da fila(configurado na fila).

    <ul>
    	<li><a href="ajuda.php?script=cc_queue-status_index">Status de filas</a></li>
	</ul>