<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Resumo de agentes » Pausa</h2>

<p>
    Neste tipo de relatório é exibido a totalização das chamadas atendidas e realizadas do agente, horário de login/logoff e tempo de cada pausa efetuada no período.
    
<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_resume-agent_index">Resumo de agentes</a></li>
</ul>