<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Resumo de agentes » Sintético</h2>

<p>
    Este tipo de relatório é exibido a totalização das chamadas do agente, separadas por status da ligação, horário de login/logoff e quantidade e totalização de todas as pausas efetuadas no período, as informações de todas agentes são exibidas em apenas um bloco.
    
<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_resume-agent_index">Resumo de agentes</a></li>
</ul>