<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Resumo de agentes</h2>

<p>
    Relatório que apresenta um resumo do agente na fila, na sua visão analítica, apresenta quantidades de ligações originadas e recebidas com seus respectivos status para o agente especificado no filtro do relatório dentro do período de login/logoff realizado pelo agente. Além disso, apresenta a quantidade de pausas que o agente fez, bem como o seu tempo total.
    <br> 
    <br>Modo de funcionamento:
    <br> 
    <br>Todas as ligações recebidas e efetuadas pelo agente na fila são contabilizadas. Caso um agente1 ligue diretamente para o agente2, o agente1 que efetuou a ligação é contabilizado como 1 originada, porém o agente2 que recebeu a ligação não é contabilizado como uma atendida, pois a ligação não passou pela fila.
    <br>Importante: Quando a ligação cai na fila e os agentes não atendem, cada vez que volte para o mesmo agente é contabilizada como uma chamada. Exemplo: A ligação cai na fila Atendimento que é configurada para tocar 10 segundos em cada agente, a ligação toca no agente1 e esse não atende, então a ligação toca no agente2 e o mesmo também não atende, caso a ligação volte para o agente1 é totalizado como 2 chamadas para o agente1.
    <br>
    <br>Este relatório apresenta informações semelhantes ao Estatística do Operador, porém com algumas informações agregadas.
    <br>
    <br>Data inicial: Data inicial para consulta do relatório. No final do campo há uma caixa com o calendário, para a escolha da data.
    <br>Data final: Data final para consulta do relatório. No final do campo há uma caixa com o calendário, para a escolha da data.
    <br>Agentes: Código do agente para consulta do relatório, caso queira efetuar a consulta de mais de um agente, deve-se separa-los por virgula, ou range de agentes.
    <ul>
        <li>Exemplo1: 2000,2001 trará informação dos dois agentes.
        <li>Exemplo2: 2000-2002 trará informação do 2000,2001 e 2002.
    </ul>
    Tempo de rejeição atendidas: Tempo em segundos de rejeição para chamadas atendidas, caso chamada seja menor que valor especificado, a ligação não é contabilizada.
    <br>Tempo de rejeição não atendidas: Tempo em segundos de rejeição para chamadas não atendidas, caso chamada seja menor que valor especificado, a ligação não é contabilizada.
    <br>Visualização: O relatório pode ser visualizado em tela ou exportado para arquivo PDF.
    <br>Tipo: O relatório de resumo de agentes é divido em três tipos:
    <ol>
        <li>Tipo Analítico - Exibe a totalização das chamadas separadas por status e a quantidade e tempo das pausas no período separados por blocos.</li>
        <li>Tipo Sintético - Exibe os dados agrupados em apenas um bloco.</li>
        <li>Tipo Pausa - Exibe detalhadamente o tempo de cada pausa.</li>
    </ol>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_resume-agent_analytic">Resumo de agentes » Analítico</a></li>
    <li><a href="ajuda.php?script=cc_resume-agent_synthetic">Resumo de agentes » Sintético</a></li>
    <li><a href="ajuda.php?script=cc_resume-agent_pause">Resumo de agentes » Pausa</a></li>
</ul>