<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Estatística do operador</h2>

<p>
    Relatório que apresenta uma visão completa das chamadas de um operador específico informado na tela de filtro do relatório. É encontrado neste relatório informações de quantidade de chamadas realizadas, atendidas, não atendidas, tempos totais e médios da chamada. Além disso, as informações parciais nos dias do período especificado no filtro.
    <br>Esse relatório pode auxiliar na gestão da operação quando se deseja acessar a estatística de um ou mais operadores.
    <br>

    <br>Modo de funcionamento:
    <br>
    <br>Todas as ligações recebidas e efetuadas pelo operador são contabilizadas.
    <br>Importante: Ao contrario de outro relatórios, quando a ligação cai na fila e os agentes não atendem, caso toque mais de uma vez no agente é contabilizado apenas uma chamada. 
    <br>Exemplo: A ligação cai na fila Atendimento que é configurada para tocar 10 segundos em cada agente, a ligação toca no agente1 e esse não atende, então a ligação toca no agente2 e o mesmo também não atende, caso a ligação volte para o agente1 é totalizado como apenas 1 chamada para o agente1.
    <br>
    <br>Data inicial: Data inicial para consulta do relatório. No final do campo há uma caixa com o calendário, para a escolha da data.
    <br>Data Final: Data final para consulta do relatório. No final do campo há uma caixa com o calendário, para a escolha da data.
    <br>Ramais ou agentes: Código do agente ou ramal que recebeu ou efetuou a ligação. Caso queira efetuar a consulta de mais de um operador, deve-se separa-los por virgula, ou range de operadores.
    <ul>
        <li>Exemplo 1: 2000,2001 trará informação dos dois operadores.</li>
        <li>Exemplo 2: 2000-2002 trará informação dos operadores 2000,2001 e 2002.</li>
    </ul>
    <br>Visualização: O relatório pode ser visualizado em tela ou exportado para arquivo CSV.

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_statistical-operator_view">Relatório de Estatística do Operador » Relatório em Tela</a></li>
</ul>