<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Módulo CC
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<h2>Estatísticas do operador » Relatório em tela</h2>

<p>
    Este tipo de relatório é exibido os dados do agente ou ramal na própria tela do Snep. Quando a consulta é de mais de um dia, o relatório mostra na parte superior a totalização de todos os dias, e abaixo os dados separados por dia.
    <br>
    <br>Agent/Ramal: Código do agente ou ramal.
    <br>Tipo: Tipo de ligação que podem ser originadas ou recebidas.
    <br>Total: Totalização das chamadas.
    <br>Atendidas: Número total de ligações atendidas.
    <br>Não atendidas: Número total de ligações não atendidas.
    <br>Ocupadas: Número total de ligações ocupadas.
    <br>Falhadas: Número total de ligações falhadas.
    <br>Tempo em chamada: Tempo total da chamada(tempo de atendimento + tempo em espera).
    <br>Tempo em atendimento: Tempo de conversa da chamada.
    <br>Tempo em espera: Tempo de espera da chamada.
    <br>Tempo médio chamada: Tempo médio das chamadas(tempo das chamadas / total de ligações).
    <br>Tempo médio atendimento: Tempo médio de atendimento(tempo em atendimento / total de ligações atendidas).
    <br>Tempo médio espera: Tempo média em espera(tempo em espera / total de ligações).

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=cc_statistical-operator_index">Relatório de Estatística do Operador</a></li>
</ul>