<!--
* =========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* =========================================================================
-->
<h2>Salas de Confer&ecirc;ncia</h2>
<p>Esta rotina do sistema permite que Salas de Confer&ecirc;ncias seja Ativadas e/ou
Desativadas no Sistema de Telefonia.</p>

<ul>
   <li><b>C&oacute;digo</b>: A Lista de C&oacute;digos (Sala de Confer&ecirc;ncia) exibida, 
   &eacute; baseada no Intervalo de C&oacute;digos configurado na Rotina Par&acirc;metros
   (<a href="ajuda.php?script=parametros">Configura&ccedil;&otilde;es >> Par&acirc;metros</a>).</li>
   <li><strong>Usa Autentica&ccedil;&atilde;o</strong>: Define se para usar a Sala de 
   Confer&ecirc;ncia ser&aacute; necess&aacute;rio o uso de Uma Senha.</li>
   <li><strong>Senha de Autentica&ccedil;&atilde;o: </strong>Define uma Senha para a Sala de
   Confer&ecirc;ncia - a senha deve ser EXCLUSIVAMENTE NUM&Eacute;RICA.</li>
 <li><strong>Centro de Custos:</strong>- determina para qual Centro de Custos as chamadas de Confer&ecirc;ncias ser&atilde;o atribuidas.</li>
   <li><b>A&ccedil;&otilde;es</b>:
      <ul>   
         <li><strong>Ativar / Desativar</strong> - determina se a Sala de Confer&ecirc;ncia est&aacute;
         Ativa ou N&atilde;o</li>
      </ul>
   </li>
</ul>
<p>Links Relacionados</p>
<ul>
   <li><a href="ajuda.php?script=parametros">Par&acirc;metros</a></li>
</ul>
