<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: OpenS Tecnologia <opens@opens.com.br>
* ========================================================================
-->
<h1>Regras de Negócio - Configurações Padrão - Configurar</h1>

<p>
    O formulário de configuração de ação é gerado automaticamente a partir
    dos parâmetros da ação. Caso a configuração de algum parâmetro não esteja
    clara verifique o manual do usuário ou consulte o suporte técnico.
</p>


<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=default_actions_configs">Configurações Padrão</a></li>
    <li><a href="ajuda.php?script=agi_rules">Regras de Negócio</a></li>
</ul>
