<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Centro de Custos - Cadastrar / Alterar</h2>

<p>
Os Centro de Custos tem como função básica classificar os registros de chamadas em Entradas e Saídas.
Criar uma hierarquia de Centros de Custos permite um melhor controle das chamadas por parte do administrador.
</p>


<strong>Código:</strong> O código pode ser de 1, 3 ou 5 dígitos, sempre NUMÉRICOS, e distribuídos em até 3 "casas",
que determinam sua hierarquia.


<strong> Definição:</strong>

<ul>
    <li>
      <strong>9</strong> ­ código com 1 dígito, é considerado o código PAI.  Devem existir pelo MENOS 2 (dois) códigos PAI
      no sistema ­ um para ENTRADAS e um para SAÍDAS.
    </li>
    <li>
      <strong>9.99</strong> - código com 3 dígitos, é considerado o código Filho de 1a. Geração.
    </li>
    <li>
        <strong>9.99.99</strong> - código com 5 dígitos, é considerado o código Filho de 2a. Geração
    </li>
</ul>

<strong>Exemplo:</strong>

<table>
    <tr>
        <td>
            1
        </td>
        <td>
            Ligações de Entrada
        </td>
    </tr>
    <tr>
        <td>
            1.01
        </td>
        <td>
            Departamento Comercial
        </td>
    </tr>
    <tr>
        <td>
            1.01.01
        </td>
        <td>
            Diretor Comercial
        </td>
    </tr>
    <tr>
        <td>
            1.01.02
        </td>
        <td>
            Vendedores
        </td>
    </tr>
    <tr>
        <td>
            1.01.03
        </td>
        <td>
            Telemarketing
        </td>
    </tr>
</table>

<br />

<strong>Nome:</strong> Define um Nome para o centro de Custos.

<strong>Tipo:</strong> Define em que tipo de ligação o Centro de Custos será aplicado:
<ul>
    <li>de Entrada</li>
    <li>de Saída</li>
    <li>Outros (geralmente usado para chamadas internas e de serviços: (190,102, ...))</li>
    <li>Descrição: Breve descrição do Centro de Custos</li>
</ul>
     
<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=rel_contas">Centro de Custos</a></li>
</ul>