<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: OpenS Tecnologia <opens@opens.com.br>
* ========================================================================
-->
<h2>Grupo de Contatos - Cadastrar/Editar</h2>

<p>
    Cadastra um novo grupo de contatos ou edita um grupo existente. Basta
    fornecer um nome para cadastrar o grupo. Opcionalmente você pode selecionar
    os contatos diretamente da lista abaixo para facilitar a administração.
</p>
