<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Agenda de Contatos -> Incluir Contato</h2>

<p>
Preencha o formul&aacute;rio corretamente com as informa&ccedil;&otilde;es de contato. Os campos <strong>Nome</strong>,
<strong>Telefone</strong> e <strong>Celular</strong> s&atilde;o de preenchimento obrigat&oacute;rio.
</p>



<p>
<strong>Código:</strong>Identificará o cadastro do Contato. O Sistema sempre irá sugerir um código baseado
no código de valor mais alto já cadastrado, mas não é obrigatório o seu uso.
</p>

<p>
    <strong>Nome:</strong>Nome do que identifica o Contato.
</p>

<p>
    <strong>Endereço, Cidade, Estado CEP: Dados de endereço do Contato.</strong>
</p>

<p>
    <strong>Telefone:</strong>
    Identifica o telefone Fixo do Contato. Atente para o formato de entrada: SOMENTE Números.
</p>

<p>
    <strong>Celular:</strong>
    Identifica   o   telefone   Celular   do   Contato.   Atente   para   o   formato   de   entrada:  SOMENTE
Números.
</p>

 
