<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio Henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Ramais, Agentes e Filas</h2>

<p>Exibe uma lista de todos os Ramais, Agentes e Filas do Sistema, com algumas informa&ccedil;&otilde;es adicionais.
Esta rotina torna-se basicamente &uacute;til para mostrar genericamente a estrutura configurada no SNEP.</p>

<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=rel_queues">Filas</a></li>
   <li><a href="ajuda.php?script=rel_ramais">Ramais</a></li>
   <li><a href="ajuda.php?script=parametros">Par&acirc;metros</a></li>
</ul>
