<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio Henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h1>Regras de Negócio - Simulador</h1>

<p>
Esta rotina permite que você simule uma ligação ao entrar no Gateway Khomp, você deve informar os parâmetros necessários, como :
Origem, Destino e horário da ligação:
</p>

<p>
    Permitira que você simule em qual regra de Rota a ligação se encaixa, de acordo com os dados fornecidos.
</p>

<p>Links Relacionados</p>
<ul>
   <li><a href="ajuda.php?script=rel_troncos">Troncos</a></li>
   <li><a href="ajuda.php?script=parametros">Par&acirc;metros</a></li>
</ul>
