<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Henrique Grolli Bassotto <henrique@opens.com.br>
* ========================================================================
-->
<h2>Rela&ccedil;&atilde;o de Troncos</h2>

<p>Esta rotina permite que sejam definidos os Troncos que farão parte do sistema.
Os Troncos definem as rotas de Entrada e saída das ligações do sistema Asterisk.
</p>

<ul>
    <li>
       <img src="/snep/imagens/include.png" />
       <strong>Incluir Tronco:</strong> Permite cadastrar um novo tronco.
    </li>
</ul>

<strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas ao Tronco listado na Linha correspondente:
<ul>
    <li>
        <img src="/snep/imagens/edit.png" />
        Permite ALTERAR o cadastro de um tronco.
    </li>
    <li>
        <img src="/snep/imagens/delete.png" />
        Permite EXCLUIR o cadastro de um tronco.
    </li>


</ul>

   
<p>Links Relacionados</p>
<ul>
   <li><a href="ajuda.php?script=troncos">Cadastro</a></li>
   <li><a href="ajuda.php?script=parametros">Parametros</a></li>
</ul>


