<!--
* =========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* =========================================================================
-->
<h2>Configurações - Diagnóstico do Sistema </h2>

<p>Configuração e Diagnóstico do sistema é utilizado para inspecionar as principais configurações que garantem o funcionamento do sistema. Essa função analisa as configurações requeridas e sinaliza em cor vermelha as configurações com problemas e em cor verde as configurações com sucesso.</p>