<!--
* =========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* =========================================================================
-->
<h2>Atualizão de CNL - Cadastro Nacional de Localidades</h2>

<p>
    Essa funcionalidade é responsável por atualizar os dados referentes a Operadora, Estado, cidade, DDD e prefixos de telefones do Brasil.
</p>
<strong>Para atualizar CNL:</strong>
<br>
<p>Você facilmente pode atualizar os dados da CNL, desde que tenha o arquivo fornecido pelo departamento comercial.
    <br>Para tal tarefa, clique em <strong><i>Enviar arquivo</i></strong> e indique o arquivo da CNL. Depois é só clicar no botão <strong><i>Salvar.</i></strong></p>