<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Cadastros de Grupos de Filas</h2>

<p>
O cadastro de Grupos de Filas tem a função de facilitar a organização das filas para exibição em relatórios. Fazendo com que o usuário "unifique" filas em comum. 
</p>

<p>
O grupo de Filas é usado no módulo Dashboard, onde nos widgets há opções de exibição dos resultados por grupos de filas, e em alguns relatórios do módulo CC, Relatórios de Filas DAC e Status de Fila.
</p>


 
<ul> 
  <li>
      <img src="/snep/imagens/include.png" />
      <strong>Incluir Grupo de Filas:</strong> Permite cadastrar um novo Grupo de Filas.
  </li>
</ul>

<strong>Ações:</strong> As ações são relativas ao Centro de Custos listado na Linha correspondente:
<ul>
  <li>
      <img src="/snep/imagens/edit.png" />
      Permite ALTERAR o cadastro do Grupo de Fila, sendo possível alterar o nome do Grupo e as Filas pertencentes a ele.
  </li>

  <li>
      <img src="/snep/imagens/delete.png" />
      Permite EXCLUIR o cadastro do Grupo de Fila.
     
</ul>

<p>Links Relacionados</p>
<ul>
   <li><a href="ajuda.php?script=queues_group">Membros do Grupo de Filas</a></li>
</ul>