<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Contatos</h2>

<p>
    Contatos são usados para facilitar algumas ações dentro da central SNEP.
    Podem ser usados para discagem abreviada usando códigos de atalho e para a
    manutenção de listas de telefones para uso com as regras de negócio.
</p>

<h2>Exclusão de Contatos em Lote</h2>

<p>
    A exclusão de contatos em lote por enquanto se dá fazendo uma pesquisa com
    os filtros na lista de contatos e usando a opção "Apagar dados da seleção".
</p>

<strong>Cadastramento de N&uacute;meros:</strong>
<p>Você facilmente pode adicionar n&uacute;meros de contatos, desde que seu usu&aacute;rio tenha permiss&atilde;o para tal tarefa.
Clique em <strong><i>Incluir Cadastros</i></strong> e preencha o formul&aacute;rio com as informa&ccedil;ões.</p>

<strong>Acesso a funcionalidade:</strong><br /><br />

<strong>*12 + [codigo]</strong>: Discar para n&uacute;mero de telefone fixo.<br />

<strong>*13 + [codigo]</strong>: Discar para n&uacute;mero de telefone celular.<br />
