<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: OpenS Tecnologia <opens@opens.com.br>
* ========================================================================
-->
<h1>Regras de Negócio - Configurações Padrão</h1>

<p>
    Permite a interação com configurações padrões de ações das regras de negócio. Cada
    ação pode determinar um conjunto de configurações padrões para serem usadas por elas,
    estas são processadas em um formulário nessa tela para que possam ser controladas
    a partir da interface.
</p>

<p>
    Para documentação detalhada das configurações de ações de módulos consulte a
    documentação do módulo.
</p>


<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=agi_rules">Regras de Negócio</a></li>
</ul>
