<h2>Alias de Expressão Regular</h2>

<p>
    Alias de expressão regular é usado para facilitar a criação de regras de
    negócio que partilhem de expressões regulares comuns.
</p>

<p>
    Para cadastrar um novo alias basta escolher um nome e determinar uma ou mais
    expressões regulares que serão usadas para comparar origens e destinos nas
    regras de negócio.
</p>

<p>
    Para que o alias seja válido basta que pelo menos uma das expressões
    casem com o parâmetro especificado na regra.
</p>

<h3>Itens Relacionados</h3>
<ul>
    <li><a href="ajuda.php?script=expressao_regular">Expressão Regular</a></li>
</ul>