<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Henrique Grolli Bassotto <henrique@opens.com.br>
* ========================================================================
-->
<h2>Rela&ccedil;&atilde;o de Ramais</h2>

<p>
Esta rotina permite que sejam definidos os ramais que far&atilde;o parte do sistema. 
Os Ramais definem os membros dos sistemas Asterisk e SNEP. Para o cadastro de 
ramais &eacute; necess&aacute;rio que se ajuste, em <a href="ajuda.php?script=parametros">
Configura&ccedil;&otilde;es >> Par&acirc;metros</a>, os valores dos campos referentes a <strong>Tecnologias 
de Canais</strong> conforme for o caso, ou seja:<br>
- Ramais SIP<br />
- Ramais IAX2<br />
- Ramais KHOMP<br />

<ul>
   <li><img src="/snep/imagens/include.png" width="12" height="12" border="0" alt="" align="left">&nbsp;
   <strong>Incluir Ramal:</strong> Permite Cadastrar um Novo Ramal ;</li><br>
   <li><img src="/snep/imagens/include_all.png" width="16" height="16" border="0" alt="" align="left">
   <strong>Incluir Ramais:</strong> Permite Cadastrar VARIOS Ramais; </li>  <br>
   <li><strong>Ramal, Nome completo, Canais, Contexto, Vinculos, Usa Voicemail</strong> 
   S&atilde;o algumas informa&ccedil;&otilde;es sobre cada Ramal listado.</li>
   <li><strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas
    ao Ramal listado na Linha correspondente:<br><br>
     <ul>
        <li><img src="/snep/imagens/edit.png" width="16" height="16" border="0" alt="" align="left">
        Permite ALTERAR o cadastro de um Ramal ;</li><br>
        <li><img src="/snep/imagens/delete.png" width="16" height="16" border="0" alt="" align="left">
        Permite EXCLUIR o cadastro de um Ramal; </li>  <br>
        <li><img src="/snep/imagens/permitions.png" width="16" height="16" border="0" alt="" align="left">
        Permite definir as PERMISS&Otilde;ES de acesso ao Sistema de um Ramal; </li>  <br>            
     </ul>  
  </li>
</ul>
<p>Links Relacionados</p>
<ul>
   <li><a href="ajuda.php?script=ramais">Cadastro</a></li>
   <li><a href="ajuda.php?script=permissoes">Permiss&otilde;es de Acesso</a></li>
</ul>


