<h2>Cadastrar/Editar Grupos de Ramais</h2>

<p>Essa rotina é usada para criação e edição de grupos de ramais no snep.</p>

<p>Grupos podem ser do tipo usuário ou administrador. Esse tipo indica herança.</p>



<p><strong>Por exemplo</strong> : Se uma regra de negócio for criada permitindo
ligações para Administradores e o grupo Comercial for do tipo Administrador,
todos os ramais que pertentecem ao grupo Comercial também serão considerados
pela regra como administradores.
</p>

<p><strong>Seleção de Ramais</strong> : É possivel, ao criar um grupo, que você
selecione os ramais que farão parte do mesmo.
</p>

<p><strong>Ramais Disponíveis</strong> : Contém a relação de ramais disponíveis
no sistema. Cada ramal possue o atual grupo a que ele pertence entre parênteses:</p>

<strong>Ex:</strong> 1001 (admin)




