<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Grupos de Captura - Incluir/Alterar</h2>

<p>Esta rotina permite que um grupo de Captura seja Cadastrado ou
Alterado.</p>
<p>Os  Grupos de Captura fazem parte do Cadastro de um Ramal e ajudam a determinar
o Ramais que poder&atilde;o capturar liga&ccedil;&otilde;es entre si.</p>

<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=rel_grupos">Grupos de Captura</a></li>              
   <li><a href="ajuda.php?script=ramais">Ramais</a></li>
</ul>
