<h2>Identificador de A</h2>

<p>
O identificador tem como objetivo fornecer integração com serviços de terceiros para identificação de chamadas entrantes.
<p>
<p>
Quando uma ligação entra coleta-se algumas informações do usuário, como numero de origem e opcionalmente algum outro valor qualquer. Estas informações são enviadas ao serviço definido nessa tela de configuração e o retorno é usado para encaminhar a ligação para o ramal ou fila correta, podendo também definir um nome que identificará a ligação em telefones IP e softphones.
</p>
<p>
O serviço acessado pelo Snep segue o padrão de web services RESTful. Os parâmetros são enviados via HTML GET e o retorno do serviço é feito usando o formato JSON.
</p>
<h3>Especificação</h3>
<p>
O serviço acessado pelo Identificador deve possuir a seguinte especificação.
</p>
<h3>Requisição Snep-Serviço</h3>
<p>
O Snep passará como parâmetro os seguintes argumentos:
</p>
<p>
<b>callerid</b> - O numero de origem da chamada entrante.<br>
<b>callid</b> - Número que identifica a ligação de forma única dentro da central telefônica.<br>
</p>
<h3>Resposta do Serviço</h3>
<p>
A resposta do serviço deve ser no formato JSON e conter os seguintes valores.
</p>
<p>
<b>result</b> - O resultado propriamente dito. Este pode ser um ramal, fila ou uma string mais complexa. Como ramal e fila separados por -. O conteúdo desse retorno é avaliado e planejado na implementação do sistema que identificará. Seja ele uma ura ou somente um passo simples nas entradas.<br>
<b>id</b> - Nome que será definido para a ligação. Esta será a informação que aparecerá nas telas de softphones e telefones IP que suportem a visualização desse dado.
Para melhor resultado é interessante definir o mime-type do retorno para application/json.<br>
</p>
<h3>Customização</h3>
<p>
Caso seja necessário enviar parâmetros customizados ao serviço, como por exemplo uma entrada de usuário previamente coletada em uma URA/IVR basta definir a variável <b>OPT_IDENTIFICADOR</b> do plano de discagem do Asterisk. Esta será anexada ao final da requisição junto com um <b>&</b>.
</p>
<p>
Exemplo. No Dialplan:<br>

                <h5>exten => _X.,n,Set(OPT_IDENTIFICADOR='chaveusuario=234234')</h5>
            
Será enviado ao serviço de integração:<br>

                <h5>http://endereco/do/servico.asp?callerid=01122223333&callid=1271427536.3&chaveusuario=234234</h5>
            
<h3>Referências</h3>

<a href="http://en.wikipedia.org/wiki/RESTful" target="_blank">Representational State Transfer</a>, Wikipedia (Inglês)<br>
<a href="http://pt.wikipedia.org/wiki/RESTful" target="_blank">REST</a>, Wikipedia (Português)<br>
<a href="http://en.wikipedia.org/wiki/JSON" target="_blank">JSON</a>, Wikipedia (Inglês)<br>
<a href="http://pt.wikipedia.org/wiki/JSON" target="_blank">JSON</a>, Wikipedia (Português)<br>
<a href="http://www.json.org/" target="_blank">Json.org</a> - Site oficial do protocolo JSON (Inglês)<br>