<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Autor: Henrique Grolli Bassotto <henrique@opens.com.br>
* ========================================================================
-->
<h2>Importação de Contatos via CSV</h2>

<p>
    Para importar contatos basta selecionar um arquivo no formato CSV (Comma
    Separated Value). O arquivo deve ter os campos separados por virgulas.
</p>

<h2>Relacionamento dos Campos</h2>

<p>
    Após fazer o upload do arquivo será mostrada uma tela onde é possível fazer
    o relacionamento dos campos do arquivo csv com as informações dos contatos.
    Basta selecionar quais colunas representam quais valoes nas caixas de
    seleção no cabeçalho da tabela.
</p>