<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Henrique Grolli Bassotto <henrique@opens.com.br>
* ========================================================================
-->
<h1>&Iacute;ndice</h1>
   <ul>
      <li><strong>Status</strong>
         <ul>
            <li><a href="ajuda.php?script=sistema">Sistema</a></li>
            <li><a href="ajuda.php?script=links">Links Khomp</a></li>
            <li><a href="ajuda.php?script=database_load">Agentes, Ramais e Filas</a></li>
            <li><a href="ajuda.php?script=links_errors_load">Erros Links Khomp</a></li>
            <li><a href="ajuda.php?script=sneplog">Logs do Sistema</a></li>
            <li><a href="ajuda.php?script=filas_load">Filas</a></li>
         </ul>
      </li>
      <li><strong>Cadastros</strong>
         <ul>
           <li><a href="ajuda.php?script=rel_ccustos">Centro de Custos</a>
              <ul>
                 <li><a href="ajuda.php?script=ccustos">Cadastro</a></li>
              </ul>
           </li>
           <li><a href="ajuda.php?script=rel_cont_names">Contatos</a>
              <ul>
                 <li><a href="ajuda.php?script=cont_names">Cadastro</a></li>
              </ul>
           </li>
           <li><a href="ajuda.php?script=rel_contacts_groups">Grupos de Contatos</a></li>
           <li><a href="ajuda.php?script=rel_queues">Filas</a> 
              <ul>
                 <li><a href="ajuda.php?script=queues">Cadastro</a></li>
                 <li><a href="ajuda.php?script=members_queues">Membros da Fila</a></li>
              </ul>
           </li>
           <li><a href="ajuda.php?script=default_queuesgroups_index">Grupos de Filas</a>
              <ul>
                 <li><a href="ajuda.php?script=queues_group">Membros do Grupo de Filas</a></li>
              </ul>
           </li>
           <li><a href="ajuda.php?script=rel_groups">Grupos de Ramais</a>
              <ul>
                 <li><a href="ajuda.php?script=groups">Adicionar/Editar</a></li>
              </ul>
           </li>
           <li><a href="ajuda.php?script=rel_grupos">Grupos de Captura</a>
              <ul>
                 <li><a href="ajuda.php?script=grupos">Cadastro</a></li>
              </ul>
           </li>
           <li><a href="ajuda.php?script=rel_ramais">Ramais</a> 
              <ul>
                 <li><a href="ajuda.php?script=ramais">Cadastro</a></li>
                 <li><a href="ajuda.php?script=permissoes">Permissões</a></li>
              </ul>
           </li>  
           <li><a href="ajuda.php?script=conferencias">Salas de Conferência</a></li>
           
           <li><a href="ajuda.php?script=rel_troncos">Troncos</a>
              <ul>
                 <li><a href="ajuda.php?script=troncos">Cadastro</a></li>
              </ul>
           </li>
           <li><a href="ajuda.php?script=agentes">Agentes</a>
              <ul>
                 <li><a href="ajuda.php?script=queues_agent">Filas do Agente</a></li>
              </ul>
           </li>
         </ul>
      </li>
      <li><strong>Relatórios / Gráficos</strong>
         <ul>
            <li>
                <a href="ajuda.php?script=rel_chamadas">Chamadas do Período</a>
            </li>
            <li>
                <a href="ajuda.php?script=rel_services">Serviços Utilizados</a>
            </li>
            <li>
                <a href="ajuda.php?script=rel_ranking">Relatório de Ranking das Ligações</a>
            </li>
            <li>
                <a href="ajuda.php?script=rel_est_operador">Estatística do Operador</a>
            </li>
            <li>
                <a href="ajuda.php?script=relgraf_esttempo">Gráfico de Estatística de Tempo</a>
            </li>
            <li>
                <a href="ajuda.php?script=rel_filas_io">Login Logoff em Filas</a>
            </li>
            <li>
                <a href="ajuda.php?script=rel_fax">Relatório de Fax</a>
            </li>
            <li>
                <a href="ajuda.php?script=relgraf_txocupacao">Gráfico de Taxa de Ocupação</a>
            </li>
            <li>
                <a href="ajuda.php?script=rel_filas">Filas de Atendimento</a>
            </li>
         </ul>
      </li>
      <li><strong>Tarifas</strong>
         <ul>
            <li><a href="ajuda.php?script=rel_operadoras">Operadoras</a>
               <ul>
                  <li><a href="ajuda.php?script=operadoras">Cadastro</a></li>              
               </ul>
            </li>
            <li><a href="ajuda.php?script=rel_tarifas">Tarifas</a>
               <ul>
                  <li><a href="ajuda.php?script=tarifas">Cadastro</a></li>              
               </ul>
            </li>
         </ul>
      </li>
      <li><strong>Regras de negócio</strong>
         <ul>
            <li><a href="ajuda.php?script=agi_rules">Regras de Negócio</a>
		<ul>
		    <li><a href="ajuda.php?script=agi_rules">Incluir Regras de Negócio</a></li>
                    <li><a href="ajuda.php?script=debugger">Simulador</a></li>
                    <li><a href="ajuda.php?script=expression_alias">Alias de Expressão Regular</a></li>
		</ul>
	    </li>
            <li><a href="ajuda.php?script=default_actions_configs">Configurações Padrão</a></li>
         </ul>
      </li>
      <li><strong>Configurações</strong>
         <ul>
            <li><a href="ajuda.php?script=parametros">Parâmetros</a></li>
             <li><a href="ajuda.php?script=rel_sounds">Arquivos de Sons</a>
               <ul>
                  <li><a href="ajuda.php?script=sounds">Cadastro</a></li>
               </ul>
             </li>

            <li><a href="ajuda.php?script=rel_musiconhold">Músicas em Espera</a>
               <ul>
                  <li><a href="ajuda.php?script=musiconhold">Cadastro</a></li>              
               </ul>
            </li>
            <li><a href="ajuda.php?script=manutencao">Manutenção do Sistemas</a></li>
         </ul>
      </li>      
   </ul>
  </body>
</html>