<h2>Verificador do Sistema</h2>

Esta rotina permite um diagnóstico da instalação do SNEP, é possível verificar:

<br /><br />
<strong>AGI :</strong> Verifica permissão dos arquivos de SNEP que interagem com o asterisk.


<br /><br />
<strong>EXTENSIONS :</strong> Verifica se estão presentes no ambiente extensões do PHP necessárias para o bom funcionamento do SNEP.

<br /><br />
<strong>LOGS :</strong> Verifica a existência e permissões dos arquivos de log SNEP.

<br /><br />
<strong>PERMISSIONS :</strong> Verifica permissões dos arquivos do SNEP para o funcionamento do SNEP.

<br /><br />

Na existência de problemas na sua instalação do SNEP, os mesmos são reportados nesta tela.
