<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h1>Status dos Links</h1>
<p>Esta rotina do sistema mostra informa&ccedil;&otilde;es sobre o Status de ERROS de Links de Placas Khomp. Se nenhuma placa Khomp for identificada pelo Sistema, uma mensagem de AVISO ser&aacute; exibida.</p>
<p>O botão <strong>[Zerar Contadores]</strong> , ao ser clicado, ir&aacute; "reiniciar" os contadores de erros. Isto pode ser &uacute;til para uma efetivo monitoramento de de erros, já que o hardware n&atilde;o informa desde quando os contadores est&atilde; monitorando os links.</p>

