<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio Henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Links Khomp</h2>

<p>Esta rotina do sistema mostra exclusivamente informa&ccedil;&otilde;es sobre o Status de Links de Placas Khomp. </p>

<p>Se   nenhuma   placa   Khomp   for   identificada   pelo   Sistema,   uma   mensagem   de   AVISO   ser&aacute;   exibida.
Uma Lista das Placas Khomp instaladas no sistema &eacute; exibida para que sejam exibidas
informa&ccedil;&otilde;es das placas selecionadas. </p>

<p>
Existem basicamente 4 modelos de placas Khomp: E1, FXS, FXO e GSM. O Sistema identifica as placas
apenas pela sua "posi&ccedil;&atilde;o no Sistema", precedido sempre da letra B. </p>

<p>
Selecione a(s) Placa(s): permite selecionar sobre quais placas desejamos ver as informa&ccedil;&otilde;es dispon&iacute;veis.
A Figura acima  mostra um ambiente com 3 placas Khomp: E1, GSM e FXS:
</p>

<stron>Tipo de Relat&oacute;rio:</stron>

<ul>
    <li>Anal&iacute;tico - mostra as informa&ccedil;&otilde;es dos links e de cada canal de cada placa.</li>
    <li>Sint&eacute;tico - mostra informa&ccedil;&otilde;es dos links e um resumo dos canais de cada placa. Exibir status do canal: Permite exibir ou n&atilde;o o status de cada canal (Ativo, em uso, etc ...)</li>
</ul>
