<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Visualizar Log</h2>

<p>
No menu Loguser contém o item log de controle de usuário, que contém filtros para visualização dos logs das ações da principais rotinas do Snep, podendo ser visualizado todos os status ou separa-los para a visualização detalhada de cada item.
</p>
<h3><b>Filtros</b></h3>
	A tela de filtros dos logs de controle de usuários contém os seguintes itens:
<ul>
	<li><b>Período</b>: Data inicial para busca dos logs no formato dd/mm/aaaa hh:mm
	<li><b>Até</b>: Data final para busca dos logs no formato dd/mm/aaaa hh:mm
 	<li><b>Status</b>: Tipo de dados a qual se deseja visualizar, podendo ser os seguintes itens:<br>
 		<ol>
 			<li><b>Todos</b>: Visualização de todos os itens citados abaixo.
			<li><b>Regras</b>: Visualização de adição, edição, duplicação e exclusão de regras de negócio.
			<li><b>Troncos</b>: Visualização de adição, edição e exclusão de troncos.
			<li><b>Tarifas</b>: Visualização de adição, edição, inclusão de novo valor e exclusão de tarifas.
			<li><b>Parâmetros</b>: Visualização de edição de parâmetros.
			<li><b>Centro de custos</b>: Visualização de adição, edição e exclusão de centro de custos.
			<li><b>Ramal</b>: Visualização de adição e exclusão de ramais.
			<li><b>Filas</b>: Visualização de adição e exclusão de filas.
			<li><b>Arquivos de som</b>: Visualização de adição e exclusão de arquivos de som.
			<li><b>Expressão Regular</b>: Visualização de adição, edição e exclusão de expressões regulares.
			<li><b>Grupo de Ramal</b>: Visualização de adição, edição e exclusão de grupo de ramais.
 		</ol>
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=loguser_log-user_view.html">Visualizar Log</a></li>
</ul>