<!--
* ==========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Membros da Fila</h2>

<p>Esta rotina do sistema permite que Ramais sejam Cadastrados em uma determinada
Fila.</p>
<p>O Membros Cadastrados atrav&eacute;s desta rotina s&atilde;o considerados membros Est&aacute;ticos, ou seja,
membros que n&atilde;o precisam efetuar Login para fazer parte de uma determinada Fila.</p>
 <p>
 Ap&oacute;s selecionar o(s) Ramal(is) desejado(s), mova-o(s) para a "Caixa: Membros da Fila" 
 e ent&atilde;o clique no bot&atilde;o "Gravar".
</p>
<p>Links Relacionados</p>
<ul>
   <li><a href="ajuda.php?script=rel_queues">Filas</a></li>
   <li><a href="ajuda.php?script=queues">Cadastro</a></li>
</ul>