<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Se&ccedil;&otilde;es - Incluir/Alterar</h2>

<p>Esta rotina permite que se&ccedil;&otilde;es de m&uacute;sica em Espera sejam Cadastradas ou
Alteradas.</p>
<p>As m&uacute;sicas em espera s&atilde;o agrupadas em "SE&Ccedil;&Otilde;ES" 
e por padr&atilde;o, o SNEP cria tr&ecirc;s se&ccedil;&otilde;es na sua 
instala&ccedil;&atilde;o, al&eacute;m da se&ccedil;&atilde;o "Default" do Asterisk.<br>
 Os arquivos de som ser&atilde;o colocados nestas se&ccedil;&otilde;es
conforme for o casoe as se&ccedil;&otilde;es ser&atilde;o usadas de 
acordo com o Plano de Discagem definido.</p> 
<p>Esta rotina atualiza o arquivo snep-musiconhold.conf.</p>
<ul>  
  <li><strong>Nome: </strong>Define o nome da se&ccedil;&atilde;o. N&atilde;o use espa&ccedil;os ou caracters 
  acentuados/especiais como: &ccedil;&atilde;&eacute;@#%...   </li>
  <li><strong>Descri&ccedil;&atilde;o: </strong>Define uma descri&ccedil;&atilde;o para a se&ccedil;&atilde;o.</li>
  <li><strong>Modo: </strong>Define a maneira com que o Asterisk ir&aacute; ler o(s)
  arquivo(s) contido(s) na se&ccedil;&atilde;o.</li>
  <li><strong>Diret&oacute;rio: </strong>Define o nome do diret&oacute;rio que ser&aacute; usado pela
  se&ccedil;&atilde;o. Por padr&atilde;o usa-se o mesmo nome da se&ccedil;&atilde;o. N&atilde;o use espa&ccedil;os ou caracters 
  acentuados/especiais como: &ccedil;&atilde;&eacute;@#%...</li>
  <li><strong>Aplica&ccedil;&atilde;o: </strong>Define se uma aplica&ccedil;&atilde;o espec&iacute;fica ser&aacute; usada 
  para "tocar" o(s) arquivo(s) de somd a se&ccedil;&atilde;o. O Asterisk somentetoca arquivosdo
  tipo> WAV, GSM e MP3.</li>   
</ul>
<p>Links Relacionados:</p>
<ul>                
   <li><a href="ajuda.php?script=rel_musiconhold">M&uacute;sicas em Espera</a></li>
   <li><a href="ajuda.php?script=rel_sounds">Arquivos de Som</a></li>
</ul>