<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Configurações do Notificador</h2>

<p>
O módulo Notificador adiciona a interface web do Snep somente uma tela de configuração que pode ser acessada clicando no menu <b>Configurações >> Notificador</b>, onde é possível configurar:
</p>
<ul>
	<li><b>URL do WebService</b> - o endereço do WebService que receberá as notificações.
	<li><b>Notificar transferência</b> - Vem marcado como default, é aplicado somente para transferências assistidas (*2), transferências utilizando *1 todas são notificadas.
	<li><b>Notificar como agente</b> - Ligações efetuadas para agentes sera informado o canal do agente e não o do ramal.
	<li><b>Notificar somente agentes</b> - Gera notificação somente para ligações direcionadas a agentes.
	<li><b>Modo de Notificação</b> - Se a notificação será feita antes de enviar a ligação, ou se será feita após a ligação.
	<li><b>Método de envio</b> - Método de envio das notificações.
</ul>