<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Operadoras - Incluir/Aterar</h2>

<p>Esta rotina permite que uma Operadora seja Cadastrada / Alterada no Sistema.</p>
<ul>  
  <li><strong>Nome: </strong> Define o nome que identificar&aacute; a Operadora.</li>
  <li><strong>Tempo de Arranque: </strong> Define o tempo em SEGUNDOS que
  a Operadora cobra a Tarifa de sa&iacute;da. Normalmente as Operadoras cobram o primeiro 
  minuto cheio (60 segundos) de uma chamada , independente da dura&ccedil;&atilde;o desta.</li>
  <li><strong>Tempo de Fracionamento: </strong>Define o tempo em SEGUNDOS das
  fra&ccedil;&otilde;es seguintes de incid&ecirc;ncia da tarifa. Exemplo: o valor &eacute; tarifado a cada
  6 segundos em 1/10, ou seja, se a tarifa for de R$ 0,50 por minuto, a cada 6
  segundos de dura&ccedil;&atilde;o , ser&aacute; cobrado R$ 0,05. </li> 
  <li><strong>Tarifa Base para Fixo: </strong>Define o valor da Tarifa padr&atilde;o
  para chamadas  a telefones Fixos.</li>
  <li><strong>Tarifa Base para Celular: </strong>Define o valor da Tarifa padr&atilde;o
  para chamadas  a telefones Celulares.</li>
  <li><strong>Centro de Custos: </strong>Define o(s) Centro(s) de Custo(s) que 
  fazem parte da Operadora. Quando uma chamada &eacute; efetuada, um Centro de Custos
  &eacute; definido para esta (<a href="ajuda.php?script=ccustos">v+: Centros de Custos</a>).
  Baseado no Centro de Custo defiunido para cada registro de chamada efetuada, o
  sistema ir&aacute; encontrar a Operadora e consequentemente o valor da Tarifa.</li>
</ul>
<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=rel_operadoras">Operadoras</a></li>              
   <li><a href="ajuda.php?script=rel_tarifas">Tarifas</a></li>
   <li><a href="ajuda.php?script=rel_ccustos">Centros de Custos</a></li>
</ul>
