</p><!--
* =========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* =========================================================================
-->
<h2>Vínculos:</h2>

<p>
Define uma lista de OUTROS Ramais sobre os
quais o Ramal em questão tem acesso às informações em relatórios. Se NENHUM vínculo for
definido, o Ramal em questão terá acesso completo aos relatórios de todos
os Ramais. isto é válido para quando o Ramal em questão efetuar LOGIN no SNEP.
</p>


<h1>Permiss&otilde;es</h1>
<p>Esta rotina do sistema controla as permiss&otilde;es de acesso que cada usuário tem no uso do sistema:</p>
<p>Escolha a rotina e defina se o usuario selecionado ter&aacute; ou n&atilde;o permiss&atilde;o para acessa-la.</p>
<p><strong>Importante</strong> : Para o Menus de Cadastro, Relat&oacute;rios e Configura&ccedil;&otilde;es, pode-se optar por esconder ou exibi-los por inteiro, defindo isso nas op&ccedil;&otilde;es:
<ul>
<li>10-Cadastros</li>
<li>20-Relatorios</li>
<li>60-Configuracoes</li>
</ul>
</p>
