<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Filas do Agente</h2>

<p>Esta rotina do sistema permite que um Agente seja Cadastrado em uma ou 
mais Filas de Atendimento.</p>
<p>Esta funcionalidade &eacute; particularmente &uacute;til para que o Agente, ao efetuar Login
 no Sistema de Telefonia, seja automaticamente colocado como dispon&iacute;vel
 nas Filas a que ele pertence.
 O LOGIN em todas as Filas a que o Agente pertence &eacute; feito automaticamente
 pelo Sistema, assim como o LOGOFF.</p>
 <p>
 Ap&oacute;s selecionar a(s) Fila(s) desejada(s), mova-a(s) para a "Caixa: Membro das Filas" 
 e ent&atilde;o clique no bot&atilde;o "Gravar".
</p>