<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Membros do Grupo de Filas</h2>

<p>
Esta rotina do sistema permite que Filas sejam adicionadas em um determinado Grupo.
</p>
<p>
Após dar um nome ao Grupo e selecionar a(s) Fila(s) desejada(s), mova-a(s) para a "Caixa: Filas do Grupo" e então clique no botão "Gravar".
</p>
<p>
Links Relacionados
</p>
<ul>
   <li><a href="ajuda.php?script=default_queuesgroups_index">Grupo de Filas</a></li>
</ul>