<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Henrique Grolli Bassotto <henrique@opens.com.br>
* ========================================================================
-->
<h2>Edição de Arquivos de Configuração</h2>

<p>A tela de edição de arquivos de configuração é constituida de dois painéis. No painel esquerdo há o texto do arquivo de configuração a ser editado</p>
<p>O painel da direita contém uma lista de aplicações instaladas e registradas no asterisk e serve como referencia para a editoração do arquivo cedendo as páginas de ajuda disponíveis no próprio pbx.</p>
<p>Após a edição, para salvar o arquivo pressione o botão salvar, para descartar as mudanças pressione o botão correspondente</p>
