<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Arquivos de Sons</h2>

<p>Esta rotina permite ao usu&aacute;rio cadastrar e manipular arquivos de Sons do Asterisk, 
como URA's, mensagens de Boas vindas, Hor&aacute;rio de funcionamento da empresa,
etc.</p> 
<p>Esta rotina apenas mant&eacute;m um cadastro dos arquivos de som e permite que
novos arquivos sejam inseridos ou trocados no diret&oacute;rio padr&atilde;o do Asterisk. Esta
rotina N&Atilde;O altera configura&ccedil;&otilde;es do Asterisk, portanto os nomes de arquivos
existentes NUNCA s&atilde;o trocados - estes somente s&atilde;o sustitu&iacute;dos.</p>
<ul>  
  <li><img src="/snep/imagens/include.png" width="12" height="12" border="0" alt="" align="left">&nbsp;
  <b>Cadastrar Arquivos de Som:</b> Permite Cadastrar e/ou incluir um Arquivo de
  Som do Asterisk.</li>
  <li><b>Nome, Descri&ccedil;&atilde;o, Tipo, Atualizado ...:</b> S&atilde;o informa&ccedil;&otilde;es sobre o Cadastro de cada
   Arquivo de Som.</li>
  <li><strong>Ouvir: </strong> As a&ccedil;&otilde;es s&atilde;o relativas a cada    
  Arquivo de Som listado na Linha correspondente:
     <ul>
        <li><img src="/snep/imagens/ouvir.png" width="16" height="16" border="0" alt="" align="left">
        Permite OUVIR o Arquivo de Som de backup ou o que est&aacute; em uso (atual) ;</li><br>
     </ul>
  </li>
  <li><strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas a   
  cada Arquivo de Som listado na Linha correspondente:
     <ul>
        <li><img src="/snep/imagens/edit.png" width="16" height="16" border="0" alt="" align="left">
         Permite ALTERAR dados ou trocar o Arquivo de Som.</li><br>
        <li><img src="/snep/imagens/refresh.png" width="16" height="16" border="0" alt="" align="left">
         Permite RESTAURAR um backup.</li><br>
        <li><img src="/snep/imagens/delete.png" width="16" height="16" border="0" alt="" align="left">
         Permite EXCLUIR o cadastro de um Arquivo Som - O Arquivo n&atilde;o ser&aacute; excluido.</li>  <br>      
     </ul>  
  </li>
</ul>
<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=sounds">Cadastro</a></li>
</ul>