<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>M&uacute;sicas em Espera</h2>

<p>Esta rotina permite ao usu&aacute;rio manter um Cadastro de Arquivos para 
serem usados como "M&uacute;sicas de Espera" pelo Asterisk.</p>
<p>As m&uacute;sicas em espera s&atilde;o agrupadas em "SE&Ccedil;&Otilde;ES" e por padr&atilde;o, o SNEP cria tr&ecirc;s
se&ccedil;&otilde;es na sua instala&ccedil;&atilde;o, al&eacute;m da se&ccedil;&atilde;o "Default" do ASterisk. Os arquivos de som ser&atilde;o colocados nestas se&ccedil;&otilde;es
conforme for o casoe as se&ccedil;&otilde;es ser&atilde;o usadas de acordo com o Plano de Discagem
definido.</p> 
<ul>  
  <li><img src="/snep/imagens/include.png" />&nbsp;
  <b>Incluir Se&ccedil;&otilde;es:</b> Permite Cadastrar ou Alterar uma Se&ccedil;&atilde;o.</li>
  <li><b>Se&ccedil;&atilde;o, Descri&ccedil;&atilde;o, Modo, Diret&oacute;rio :</b> S&atilde;o informa&ccedil;&otilde;es sobre o Cadastro 
  de cada Se&ccedil;&atilde;o.</li>
  <li><strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas a   
  cada Se&ccedil;&atilde;o listada na Linha correspondente:
     <ul>
        <li><img src="/snep/imagens/edit.png" />
         Permite ALTERAR dados da se&ccedil;&atilde;o.</li><br>
        <li><img src="/snep/imagens/delete.png" />
         Permite EXCLUIR uma se&ccedil;&atilde;o. Neste caso, todos os arquivos
         e o diret&oacute;rio da se&ccedil;&atilde;o ser&atilde;o exclu&iacute;dos. A se&ccedil;&atilde;o DEFAULT n&atilde;o pode ser exclu&iacute;da.</li><br>
        <li><img src="/snep/imagens/listsounds.png" />
         Permite CADASTRAR Arquivos de Som para a se&ccedil;&atilde;o.</li>  <br>      
     </ul>  
  </li>
</ul>
<p>Links Relacionados:</p>
<ul>                
   <li><a href="ajuda.php?script=musiconhold">Cadastro de Se&ccedil;&otilde;es</a></li>
   <li><a href="ajuda.php?script=rel_sounds">Arquivos de Som</a></li>
</ul>