<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Cadastros de Contas</h2>

<p>
Esta rotina exibe uma Lista de todos os Custos cadastrados no Sistema. Os Centros de Custos ajudam a
Organizar e Classificar os relatórios de chamadas.
</p>

<ul>  
  <li> <img src="/snep/imagens/include.png" />       
       <strong>Incluir Contas:</strong> Permite Cadastrar novas Contas.
  </li>

  <li>
      <strong>Descri&ccedil;&atilde;o</strong>
      Define o nome da conta.
  </li>
</ul>

  
<strong>A&ccedil;&otilde;es:</strong>
As a&ccedil;&otilde;es s&atilde;o relativas a Conta listada na Linha correspondente:
  
<ul>
        <li> <img src="/snep/imagens/edit.png" />
        Permite ALTERAR dados da Conta ;</li>
        <li><img src="/snep/imagens/delete.png" />
        Permite EXCLUIR a Conta ; </li>      
</ul>

     <strong>IMPORTANTE: EXCLUIR</strong> uma Conta afetar&aacute; os relat&oacute;rios do sistema e o c&aacute;lculo das
tarifas, j&aacute; que h&aacute; um relacionamento de contas x operadoras


<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=contas">Cadastro</a></li>              
</ul>