<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio Henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Relat&oacute;rio de Ranking das Liga&ccedil;&otilde;es</h2>

<p>Exibe um relat&oacute;rio estat&iacute;stico, rankeado por n&uacute;mero de ramal/telefone que
mais fizeram ou receberam liga&ccedil;&otilde;es no per&iacute;odo especificado.</p>
<p>O Sistema acumula o total de chamadas ou tempo de chamadas efetuadas + recebidas a partir de ou
para um telefone dentro do per&iacute;odo especificado. O Ranking &eacute; baseado neste total,
apesar de ser exibido somente os TOP 'n' de cada n&uacute;mero rankeado.</p>
<p>Alguns filtros podem ser aplicados para refinar a pesquisa:</p>
<ul>
  <li><strong>Per&iacute;odo: </strong>Define o intervalo de datas/hora do qual se
  deseja extrair as informa&ccedil;&otilde;es;</li>
  <li><strong>Tipo de Ranking: </strong>Define se o ranking deve ser feito com base 
  no N&uacute;mero de Liga&ccedil;&otilde;es (Quantidade) ou tempo das Liga&ccedil;&otilde;es (Tempo).</li>
  <li><strong>Exibir Ranking das 'n' Origens: </strong>Define quantos rankeados
  devem ser exibidos.</li>
  <li><strong>Exibir os TOP 'n' por  Origem: </strong>Define quantos n&uacute;meros de
  telefones chamados ou chamadores deve ser exibido para cada rankeado.</li>  
  <li><strong>Aplicar Filtro de Descarte: </strong>Exclui liga&ccedil;&otilde;es cujo destino
  seja igual a lista apresentada.</li> 
</ul>
Este relat&oacute;rio mostra , acumulado em cada rankeado do per&iacute;odo solicitado:
 
<ul>
   <li>N&uacute;mero do Telefone Rankeado - Origem da Liga&ccedil;&atilde;o
      <ul>
         <li>N&uacute;mero do Destino da Liga&ccedil;&atilde;o</li>
         <li>Quantidade de Liga&ccedil;&otilde;es
            <ul>
              <li>N&uacute;mero de Chamadas Atendidas</li>        
              <li>N&uacute;mero de Cahmadas n&atilde;o Atendidas</li>
              <li>Total de Chamadas (Atendidas + N&atilde;o Atendidas)</li>
            </ul>
         </li>
         <li>Tempo das Liga&ccedil;&otilde;es
            <ul>
              <li>Tempo de dura&ccedil;&atilde;o das Chamadas Atendidas</li>        
              <li>Tempo de dura&ccedil;&atilde;o das Chamadas n&atilde;o Atendidas</li>
              <li>Tempo Total das Chamadas (Atendidas + N&atilde;o Atendidas)</li>
            </ul>
         </li>
      </ul>
   </li>   
</ul>
<li><strong>Exportar CSV:</strong> Gera relat&oacute;rio no formato CSV (Valores separados por v&iacute;rgula) afim
  de tais informa&ccedil;&otilde;es sejam utilizadas em Planilhas Eletr&ocirc;nicas e outros Softwares estat&iacute;sticos.</li>