<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio Henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Relat&oacute;rio de Estat&iacute;sticas do Agente</h2>

<p>Este Relat&oacute;rio permite que sejam visualizados dados estat&iacute;sticos
de um ou mais agentes dentro de um per&iacute;odo especificado. </p>

<p>Um agente &eacute; uma esp&eacute;cie de ramal l&oacute;gico, que n&atilde;o &eacute; necessariamente 
associado a um ramal f&iacute;sico, o agente se difere de um operador pois suas liga&ccedil;&otilde;es podem 
ser feitas apartir de ramais distintos, este relat&oacute;rio registra as liga&ccedil;&otilde;es feitas 
por determinado agente independente do ramal fisico em que ele estiver.</p>

<p>Alguns filtros podem ser aplicados a este Relat&oacute;rio, sendo:</p>
<ul>
   <li><strong>Per&iacute;odo: </strong>Define o intervalo de datas/hora do qual se
  deseja extrair as informa&ccedil;&otilde;es;</li>
  <li><strong>Ramais: </strong>Lista de Ramal(is) de quais se deseja as estat&iacute;siticas.</li>
  <li><strong>Somente dados de: </strong>Define os dias da semana dos quais se 
  deseja as estat&iacute;sticas</li>
  <li><strong>Aplicar Filtro de Descarte: </strong>Exclui liga&ccedil;&otilde;es cujo destino
  seja igual a lista apresentada.</li>
</ul> 
Este relat&oacute;rio mostra , acumulado em cada dia do per&iacute;odo solicitado:
 
<ul>
   <li>Chamadas Originas e Recebidas
      <ul>
        <li>N&uacute;mero de Chamadas Atendidas, N&atilde;o Atendidas, Ocupadas e Total</li>
        <li>Tempo TOTAL das Chamadas, de  Atendidimento e de Esperaas</li>
        <li>Tempo M&Eacute;DIO das Chamadas, de  Atendidimento e de Esperaas</li>
      </ul>
   </li>
   <li>Totais do Per&iacute;odo Solicitado</li>
      <ul>
        <li>N&uacute;mero de Chamadas Atendidas, N&atilde;o Atendidas, Ocupadas e Total</li>
        <li>Tempo TOTAL das Chamadas, de  Atendidimento e de Esperaas</li>
        <li>Tempo M&Eacute;DIO das Chamadas, de  Atendidimento e de Esperaas</li>
      </ul>   
   <li>Taxas de Ocupa&ccedil;&atilde;o para Chamadas Originadas, Recebidas e Total</li>
</ul>

<li><strong>Exportar CSV:</strong> Gera relat&oacute;rio no formato CSV (Valores separados por v&iacute;rgula) afim
  de tais informa&ccedil;&otilde;es sejam utilizadas em Planilhas Eletr&ocirc;nicas e outros Softwares estat&iacute;sticos.</li>