<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Cadastros de Filas</h2>

<p>
Esta rotina exibe uma Lista de todos as Filas de Atendimento Cadastradas no Sistema. As Filas s&atilde;o uma
das funcionalidades que o SNEP tem para a implementa&ccedil;&atilde;o de um call center b&aacute;sico.
</p>

<p>
Filas permitem que v&aacute;rios ramais fa&ccedil;am parte de um contexto em comum para que chamadas de entrada
e/ou sa&iacute;da possam ser direcionadas para este.
</p>


 
<ul> 
  <li>
      <img src="/snep/imagens/include.png" />
      <strong>Incluir Filas:</strong> Permite Cadastrar novas Filas de Atendimento.
  </li>
</ul>

<strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas ao Centro de Custos listado na Linha correspondente:
<ul>
  <li>
      <img src="/snep/imagens/edit.png" />
      Permite ALTERAR o cadastro da Fila.
  </li>

  <li>
      <img src="/snep/imagens/delete.png" />
      Permite EXCLUIR o cadastro da Fila.
  </li>
      <li><img src="/snep/imagens/usuario.png" />
      Permite DEFINIR os membros est&aacute;ticos da Fila.
  </li>
     
</ul>

<i><strong>Obs:</strong> Ao cadastrar Filas atrav&eacute;s desta rotina, n&atilde;o esque&ccedil;a de definir
 em <a href="ajuda.php?script=parametros">Configura&ccedil;&otilde;es >> Par&acirc;metros</a> que o Sistema deve obter a Lista de Filas a Partir do 
 Banco de Dados ao inv&eacute;s deo Arquivo texto.</i>
<p>Links Relacionados</p>
<ul>
   <li><a href="ajuda.php?script=queues">Cadastro</a></li>
   <li><a href="ajuda.php?script=members_queues">Membros da Fila</a></li>
</ul>