<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: OpenS Tecnologia <opens@opens.com.br>
* ========================================================================
-->
<h2>Grupo de Contatos</h2>

<p>
    Grupos de contatos podem ser usados para organizar melhor os contatos cadastrados
    no snep que são usados na função agenda. Eles também podem ser usados para
    determinar origens nas regras de negócio.
</p>