<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Rafael Bozzetti <rafael@opens.com.br>
* ========================================================================
-->
<h2>Relat&oacute;rio de Servi&ccedil;os utilizados por cada ramal.</h2>
<p>Permite que voc&ecirc; visualize e gere relat&oacute;rios de serviços utilizados
por determinado ramal, lista de ramais ou grupos de ramais.</p>

 <ul>
   <li><strong>Data:</strong> Data em que o evento foi registrado.<br />
   <li><strong>Ramal: </strong> Informa qual o ramal esta envolvido com o evento.<br />
   <li><strong>Serviço habilitado:</strong> Relaciona qual serviço esta habilitado para o ramal.</strong>
   <li><strong>Status do sertviço:</strong> Ultimo registro do ramail.</strong>
   <br /><br />
 </ul>


 <li><strong>Exportar CSV:</strong> Gera relat&oacute;rio no formato CSV (Valores separados por v&iacute;rgula) afim
  de tais informa&ccedil;&otilde;es sejam utilizadas em Planilhas Eletr&ocirc;nicas e outros Softwares estat&iacute;sticos.</li>

