<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Rafael Bozzetti <rafael@opens.com.br>
* ========================================================================
-->
<h2>Relatório de fax</h2>

<p>
Este relatório possibilita pesquisar documentos enviados ou recebidos por fax.
É possível pesquisar em um determinado intervalo de dias e conforme o tipo de fax:
recebido ou enviado.
</p>

<strong>Resultado do relatório:</strong> <br />

<p>
O resultado do relatório apresentado a relação com as informações sobre o fax enviados e/ou
recebidos no período de tempo escolhido.
</p>

<ul>
    <li>
        <strong>Data e Horário</strong> : É a data em que o arquivo de fax foi registrado no sistema.
    </li>
    <li>
        <strong>Enviados / Recebidos</strong> : Informa qual o tipo de fax.
    </li>
    <li>
        <strong>Tamanho do arquivo</strong> : Mostra o tamanho do arquivo em Kbytes.
    </li>
    <li>
        <strong>Baixar Fax</strong> : Link para o arquivo de fax (.tif), o mesmo pode ser baixado para seu computador.
    </li>
</ul>

