<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->

<h2>Grupo de Ramais</h2>

<p>Lista todos os grupos de ramais. Grupos de ramais são componentes que servem
para facilitar a administração de ramais no SNEP.</p>
<p>Os grupos são usados principalmente para facilitar a criação de regras de
negócio.</p>

<ul>
  <li><img src="/snep/imagens/include.png" />
    <strong>Incluir Grupo de Ramais:</strong> Permite Cadastrar novos Grupos de Ramais.
  </li>
</ul>

<strong>Ações:</strong> As ações são relativas ao Grupo de Ramais listado na Linha correspondente:

 <ul>    
    <li>
        <img src="/snep/imagens/edit.png" />
        Permite ALTERAR dados do Grupo.
    </li>

    <li>
        <img src="/snep/imagens/delete.png" />
        Permite EXCLUIR o Grupo;
    </li>

 </ul>

<p><strong>IMPORTANTE:</strong> Ao <strong>EXCLUIR</strong> um Grupo de Ramais
será exibida uma tela para que os mesmos possam ser migrados a outro grupo antes
que a remoção aconteça.</p>

<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=grupos">Cadastro</a></li>
   <li><a href="ajuda.php?script=ramais">Ramais</a></li>
</ul>