<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Cadastros de Grupos de Captura</h2>

<p>
Esta rotina exibe uma Lista de todos os Grupos de Captura que estejam Cadastrados no
Sistema.
</p>

<p>
Os  Grupos de Captura fazem parte do Cadastro de um Ramal e ajudam a determinar
o Ramais que poder&atilde;o capturar liga&ccedil;&otilde;es entre si.
</p>

<ul>  
  <li><img src="/snep/imagens/include.png" />
    <strong>Incluir Grupos de Captura:</strong> Permite Cadastrar novos Grupos de Captura.
  </li>
</ul>

<strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas ao Grupo de Captura listado na Linha correspondente:

 <ul>
    <li>
        <img src="/snep/imagens/edit.png" />
        Permite ALTERAR dados do Grupo de Captura.
    </li>

    <li>
        <img src="/snep/imagens/delete.png" />
        Permite EXCLUIR o Grupo de Captura ;
    </li>
 </ul>

<p><strong>IMPORTANTE:</strong> Ao <strong>EXCLUIR</strong> um Grupo de Captura, os
Ramais que tem correspond&ecirc;ncia com este cadastro ficar&atilde;o &oacute;rf&atilde;os,
o que poder&aacute; ocasionar probblemas no Sistema de Telefonia.</p>

<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=grupos">Cadastro</a></li>
   <li><a href="ajuda.php?script=rel_groups">Grupo de Ramais</a></li>
   <li><a href="ajuda.php?script=ramais">Ramais</a></li>
</ul>
