<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Cadastros de Operadoras</h2>

<p>Esta rotina exibe uma Lista de todas as Operadoras que estejam Cadastrados no
Sistema. </p>
<p>As Operadoras fazem parte do sub-sistema de Tarifa&ccedil;&atilde;o e tem como fun&ccedil;&atilde;o manter
a separa&ccedil;&atilde;o de valores de tarifas cadastrados no sistema.</p>
<ul>  
  <li><img src="/snep/imagens/include.png" width="12" height="12" border="0" alt="" align="left">&nbsp;
  <b>Incluir Operadoras:</b> Permite Cadastrar uma nova Operadora.</li>
  <li><b>C&oacute;digo,Nome, Tempos e Valores:</b> S&atilde;o informa&ccedil;&otilde;es sobre o Cadastro de cada
   Operadora. Os valores mostrados nesta tela s&atilde;o sempre os mais recentes.</li>
  <li><strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas a 
  Operadora listada na Linha correspondente:
     <ul>
        <li><img src="/snep/imagens/edit.png" width="16" height="16" border="0" alt="" align="left">
        Permite ALTERAR dados da Operadora ;</li><br>
        <li><img src="/snep/imagens/delete.png" width="16" height="16" border="0" alt="" align="left">
        Permite EXCLUIR uma Operadora ; </li>  <br>      
     </ul>  
     <strong>IMPORTANTE:</strong> Ao <strong>EXCLUIR</strong> uma Operadora, os registros de 
     Liga&ccedil;&otilde;es que est&atilde;o vinculados &agrave; esta, diexar&atilde;o de ter seu valor tarifado, o que ir&aacute;
     distorcer os relat&oacute;rios de Valores Tarifados.
  </li>
</ul>
<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=operadoras">Cadastro</a></li>              
   <li><a href="ajuda.php?script=rel_tarifas">Tarifas</a></li>
</ul>
