<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Cadastros de Aliases de Troncos</h2>

<p>Esta rotina exibe uma Lista de todos os Aliases de Troncos que estejam Cadastrados no
Sistema. </p>
<p>Os Aliases de Troncos s&atilde;o um "Apelido" que &eacute; usado para facilitar o entendimento do
usu&aacute;rio em rela&ccedil;&atilde;o &agrave; , muitas vezes, complexa sintaxe do cadastro de troncos.</p>
<ul>  
  <li>
     <img src="/snep/imagens/include.png" width="12" height="12" border="0" alt="" align="left">&nbsp;
     <b>Incluir Aliases de Troncos:</b> Permite Cadastrar Aliases de Troncos ;
  </li>
  <li> 
     <strong>Nome Real e Alias: </strong> Definem as informa&ccedil;&otilde;es do tronco e seu alias.
  </li>
  <li>
     <strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas ao 
  Grupo de Captura listado na Linha correspondente:
     <ul>
        <li><img src="/snep/imagens/edit.png" width="16" height="16" border="0" alt="" align="left">
        Permite ALTERAR o Alias / Tronco.</li><br>
        <li><img src="/snep/imagens/delete.png" width="16" height="16" border="0" alt="" align="left">
        Permite EXCLUIR o Alias / Tronco. </li>  <br>      
     </ul>  
     <strong>IMPORTANTE:</strong> Ao <strong>EXCLUIR</strong> um Alias de Tronco, os Cadastros 
     de Troncos que tem correspond&ecirc;ncia com este cadastro ficar&atilde;o &oacute;rf&atilde;os, 
     o que poder&aacute; ocasionar problemas no Sistema de Telefonia.
  </li>
</ul>
<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=troncos">Troncos</a></li>              
   <li><a href="ajuda.php?script=troncos_aliases">Cadastro de Aiases</a></li>
</ul>