<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Cadastros de Tarifas</h2>

<p>Esta rotina exibe uma Lista de todas as Tarifas que estejam 
Cadastradas no Sistema. </p>
<p>&Eacute; exibida sempre a tarifa mais recente de cada "condi&ccedil;&atilde;o" de tarifa&ccedil;&atilde;o 
cadastrada no sistema.</p>
<ul>  
  <li><img src="/snep/imagens/include.png" width="12" height="12" border="0" alt="" align="left">&nbsp;
  <b>Incluir Tarifas:</b> Permite Cadastrar uma nova Tarifa.</li>
  <li><b>Operadora, pa&iacute;s, Cidade, Estado, Prefixo, DDD, Tarifas</b> S&atilde;o 
  informa&ccedil;&otilde;es sobre o Cadastro de cada Tarifa.</li>
  <li><strong>A&ccedil;&otilde;es:</strong> As a&ccedil;&otilde;es s&atilde;o relativas a 
  Tarifa listada na Linha correspondente:
     <ul>
        <li><img src="/snep/imagens/edit.png" width="16" height="16" border="0" alt="" align="left">
        Permite ALTERAR Valor de uma Tarifa.</li><br>
        <li><img src="/snep/imagens/delete.png" width="16" height="16" border="0" alt="" align="left">
        Permite EXCLUIR uma Tarifa. </li>  <br>      
     </ul>  
  </li>
</ul>
<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=tarifas">Cadastro</a></li>              
   <li><a href="ajuda.php?script=rel_operadoras">Operadoras</a></li>
</ul>