<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio Henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Gr&aacute;fico de Taxas de Ocupa&ccedil;&atilde;o</h2>

<p>Exibe um gr&aacute;fico indicativo em percetuais, da Taxa de Ocupa&ccedil;&atilde;o
de um ou mais Ramais dentro do per&iacute;odo especificado. O c&aacute;lculo &eacute; baseado no
tempos acumulados das liga&ccedil;&otilde;es dentro de cada dia do per&iacute;odo e dentro do
intervalo de hor&aacute;rio. O gr&aacute;fico tem 3 indicadores a saber:</p>
<ul>
   <li>Tempo M&eacute;dio da Chamada</li>
   <li>Tempo M&eacute;dio da Conversa</li>
   <li>Tempo M&eacute;dio da Espera</li>
</ul>
<p>Alguns filtros podem ser aplicados para refinar a abrang&ecirc;ncia da estat&iacute;stica,
sendo eles:</p>
<ul>
  <li><strong>Per&iacute;odo: </strong>Define o intervalo de datas/hora do qual se
  deseja extrair as informa&ccedil;&otilde;es;</li>
  <li><strong>Ramais: </strong>Ramal ou Ramais dos quais se deseja ver a estat&iacute;stica.</li>
  <li><strong>Agrupar: </strong>Se for escolhido MAIS QUE UM Ramal, a estat&iacute;stica pode
  ser apresentada de forma individual para cada Ramal ou ent&atilde;o agrupando os dados dos
  Ramais slecionados.</li>
  <li><strong>Aplicar Filtro de Descarte: </strong>Exclui liga&ccedil;&otilde;es cujo destino
  seja igual a lista apresentada.</li>
  <li><strong>Tipo Gr&aacute;fico: </strong>Se optar por exibir um gr&aacute;fico ao inv&eacute;s de
  um relat&oacute;rio, define o tipo de gr&aacute;fico a ser exibido.</li> 
</ul>
<li><strong>Exportar CSV:</strong> Gera relat&oacute;rio no formato CSV (Valores separados por v&iacute;rgula) afim
  de tais informa&ccedil;&otilde;es sejam utilizadas em Planilhas Eletr&ocirc;nicas e outros Softwares estat&iacute;sticos.</li>