<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio Henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Gr&aacute;fico de Estatisticas de Tempo</h2>
<p>Exibe um gr&aacute;fico indicativo dos tempos médios, acumulados por dia 
de cada chamada. O gr&aacute;fico tem 3 indicadores a saber:</p>
<ul>
   <li>Tempo M&eacute;dio da Chamada</li>
   <li>Tempo M&eacute;dio da Conversa</li>
   <li>Tempo M&eacute;dio da Espera</li>
</ul>
<p>Alguns filtros podem ser aplicados para refinar a abrang&ecirc;ncia da estat&iacute;stica,
sendo eles:</p>
<ul>
  <li><strong>Per&iacute;odo: </strong>Define o intervalo de datas/hora do qual se
  deseja extrair as informa&ccedil;&otilde;es;</li>
  <li><strong>Origem/Destino: </strong>Define um filtro de n&uacute;mero(s) ou parte
  dele(s) para chamadores.</li>
  <li><strong>Centro de Custos: </strong>Define de qual ou quais Centros de 
  Custo se deseja ver as chamadas.</li>
  <li><strong>Aplicar Filtro de Descarte: </strong>Exclui liga&ccedil;&otilde;es cujo destino
  seja igual a lista apresentada.</li>
  <li><strong>Tipo de Chamada: </strong>Que tipos de liga&ccedil;&atilde;o devem ser exibidas 
  no relat&oacute;rio. O crit&eacute;rio de Originadas/Recebidas &eacute; baseado no conceito de Tamanho
  M&aacute;ximo do Campo "src" e Tamanho M&iacute;nimo do Campo "dst" encontrado em 
  <a href="ajuda.php?script=parametros">Configura&ccedil;&otilde;es >> Par&acirc;metros</a>.</li>
  <li><strong>Tipo Gr&aacute;fico: </strong>Se optar por exibir um gr&aacute;fico ao inv&eacute;s de
  um relat&oacute;rio, define o tipo de gr&aacute;fico a ser exibido.</li> 
  <li><strong>Exportar CSV:</strong> Gera relat&oacute;rio no formato CSV (Valores separados por v&iacute;rgula) afim
  de tais informa&ccedil;&otilde;es sejam utilizadas em Planilhas Eletr&ocirc;nicas e outros Softwares estat&iacute;sticos.</li>
</ul>