<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Relatório</h2>

<p>
Os campos data inicial e data final são obrigatórios. Quando o campo phone é preenchido os campos origem e destino devem ser desconsiderados, pois a consulta é feita atribuindo o valor de Telefone, a origem e destino. Caso queira efetuar a consulta utilizando como condição apenas o campo Destino ou Origem desconsidere o campo Telefone.
</p>
<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=services_trace_add">Visualizar</a></li>
</ul>