<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Rastreamento</h2>

<p>
O Rastreamento lista todos os rastreamentos cadastrados, exibindo os seguintes campos:
</p>
<ul>
	<li><b>Código</b>
 	<li><b>Nome</b>
	<li><b>Tronco</b>
	<li><b>Host</b>
	<li><b>Banco de Dados</b>
	<li><b>Usuário</b>
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=services_trace_add">Incluir Rastreamento</a></li>
</ul>