<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Cadastro de Channels</h2>

<p>
O cadastro de channels se encontra no menu superior do Snep na aba <b>Services >> Rastreamento >> Incluir Rastreamento</b>. Ao incluir um rastreamento os seguintes dados são obrigatórios para conclusão da consulta.
</p>
<ul>
 	<li><b>Nome</b>: Nome do Channel (Apelido)
	<li><b>Tronco</b>: Nome do tronco utilizado na saída (dstchannel)
	<li><b>Host</b>: IP válido do servidor que a ligação é finalizada
	<li><b>Nome do banco de dados</b>: Nome do banco a qual ligação é gravada
	<li><b>Usuário do banco</b>: Usuário do banco a qual ligação é gravada
	<li><b>Senha</b>: Senha do banco a qual ligação é gravada
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=services_trace_index">Rastreamento</a></li>
</ul>