<!--
* ==========================================================================
* Ajuda: Sistema       Desc: Ajuda para a tela principal do snep
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Henrique Grolli Bassotto <henrique@opens.com.br>
* ========================================================================
-->
<h2>Status do Sistema</h2>

<p>Esta rotina do sistema mostra algumas informa&ccedil;&otilde;es do Sistema sobre:</p>
<ul>
    <li><strong>Hardware/Software do servidor onde o SNEP está instalado:</strong>
        <ul>
            <li>Status   do   Servidor:   exibe   informa&ccedil;&otilde;es   sobre   Sistema   Operacional,   Banco   de   Dados,
               Distribui&ccedil;&atilde;o Linux, ver&atilde;o do Kernel, tipo de CPU, etc.
            </li>
        </ul>
    </li>
    <br />
    <li><strong>Asterisk</strong>
        <ul>
            <li>Exibe informa&ccedil;&otilde;es sobre usuários conectados, como: agentes, usuários SIP, IAX,  etc</li>
        </ul>
    </li>
    <br />
    <li><strong>SNEP</strong>
        <ul>
            <li>Exibe informa&ccedil;&otilde;es sobre os m&oacute;dulos do SNEP  e suas respectivas vers&otilde;es.</li>
        </ul>
    </li>
    <br />
    <li><strong>Mem&oacute;ria RAM</strong>
        <ul>
            <li>exibe informa&ccedil;&otilde;es sobre uso da mem&oacute;ria RAM física, l&oacute;gica, de cache e de troca (swap)</li>
        </ul>
    </li>
    <br />
    <li><strong>Espa&ccedil;o em Disco:</strong>
        <ul>
            <li>
                Exibe informa&ccedil;&otilde;es sobre o uso do disco de cada parti&ccedil;&atilde;o do sistema
            </li>
        </ul>
    </li>
</ul>

<p>As informa&ccedil;&otilde;es exibidas s&atilde;o referente ao servidor onde o SNEP est&aacute; rodando</p>
