<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Grupo de Contatos</h2>

<p>
A tela de Grupo de Contatos lista na tela todos os grupos de contatos cadastrados no sistema, sendo possível alterar e excluir qualquer grupo listado.
</p>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_group_add">Incluir Grupo de Contatos</a></li>
    <li><a href="ajuda.php?script=sms_group_export">Exportar CSV</a></li>
</ul>