<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Incluir Grupo</h2>

<p>
Para incluir um Grupo de Contato é necessário informar apenas o nome do grupo desejado.
</p>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_group_index">Grupo de Contatos</a></li>
</ul>