<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Exportar CSV</h2>

<p>
Selecione um Grupo para exportar seus contatos para um arquivo CSV.
</p>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_group_index">Grupo de Contatos</a></li>
</ul>