<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Envio de SMS</h2>

<p>
Utilizando o módulo SMS além de programar envios de mensagens para grandes quantidades de contatos, também é possível enviar uma mensagem individualmente, para apenas um número. Para fazer o envio da mensagem é necessário apenas informar:
</p>

<ul>
	<li><b>Telefone</b>: O número do telefone que'receberá a mensagem.
	<li><b>Mensagem</b>: A mensagem a ser encaminhada.
</ul>

<p><b>IMPORTANTE</b>: No canto superior direito é exibido um contador de caracteres.
