<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Incluir Campanha</h2>

<p>
No cadastro de Campanha existem os seguintes campos, sendo que a campanha, a mensagem e a permissão são obrigatórias:
</p>

<ul>
  	<li><b>Campanha</b>: Nome da campanha a ser cadastrada.
	<li><b>Mensagem</b>: O mensagem a ser enviada via SMS pelo módulo. Há um contador de carácteres no canto superior direito.
	<li><b>Grupos de Contato</b>: O grupo de contatos com os números que irão ser enviadas as mensagens.
	<li><b>Mensagens com nome</b>: Informa no início da mensagem o nome do contato associado ao número que receberá a SMS.
	<li><b>Permissão</b>: permissão para visualização dos relatórios selecionando os ramais.
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_campaign_index">Campanhas</a></li>
</ul>