<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Configuração</h2>

<p>
No menu <b>Configuração</b> é possível configurar os canais que serão utilizados para disparo da placa GSM e também seu horário limite de funcionamento. Após as alterações clique no botão Salvar para gravar as mudanças feitas.
</p>