<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Relatório de Envio</h2>

<p>
No menu <b>SMS » Relatório de Envios</b> é possível visualizar todos os dados dos envios realizados informando:
</p>
<ul>
	<li><b>Data Inicial</b>: exibição do relatório a partir dessa data.
	<li><b>Data Final</b>: limite de data para a exibição do relatório.
	<li><b>Hora Inicial</b>: hora inicial do envio das mensagens.
	<li><b>Hora Final</b>: limite do tempo de envio das mensagens.
	<li><b>Telefones</b>: retira relatório somente dos números informados neste campo. É preciso separa-los com ",".
	<li><b>Campanha</b>: Um combobox aonde pode ser selecionado os envios via Web-Service, Individualmente ou selecionando por Campanha.
	<li><b>Visualização</b>: exibe o relatório na tela, ou exporta para um arquivo CSV.
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_log_detail">Visualizar</a></li>
</ul>