<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Contatos</h2>

<p>
No menu Contatos é possível visualizar todos os contatos, tanto em tela quanto em CSV, incluir, editar e excluir contatos. É possível também incluir contatos importando um arquivo CSV.
</p>

<p>
Aqui é listado todos contatos cadastrados informando:
</p>
<ul>
	<li><b>Código</b>
	<li><b>Nome</b>
	<li><b>Telefone</b>
	<li><b>Grupo</b>
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_contacts_add">Incluir Contato</a></li>
    <li><a href="ajuda.php?script=sms_contacts_csv">Importar CSV</a></li>
    <li><a href="ajuda.php?script=sms_contacts_export">Exportar CSV</a></li>
</ul>