<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Incluir Contato</h2>

<p>
Na tela de Incluir Contato é necessário informar:
</p>

<ul>
	<li><b>Nome do Contato</b>
	<li><b>Celular</b>
	<li><b>Grupo</b>
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_contacts_index">Contatos</a></li>
</ul>