<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Campanhas</h2>

<p>
No menu <b>SMS » Campanhas</b> é possível cadastrar e visualizar todas as campanhas criadas no módulo, indicando seu código, status atual, nome, mensagem a ser enviada, número de contatos, quantidade de mensagens enviadas, quantidade de erros, um botão de start e pause da campanha, além da edição e exclusão da mesma.
</p>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_campaign_add">Incluir Campanha</a></li>
</ul>