<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Importar Contatos</h2>

<p>
Importar um arquivo no formato CSV informando Nome, Telefone e Grupo.
</p>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_contacts_index">Contatos</a></li>
</ul>