<!--
* ========================================================================
* Copyright (c) 2014 - Opens Tecnologia - Projeto SNEP
* Autor: Eduardo Liberato Sotero <eduardo.sotero@opens.com.br>
* ========================================================================
-->
<meta charset="utf-8">
<h2>Relatório de Envio</h2>

<p>
O resultado do relatório exibirá os envios com as seguintes informações:
</p>
<ul>
	<li><b>Status</b>
	<li><b>Data</b>
	<li><b>Telefone</b>
	<li><b>Campanha</b>
	<li><b>Mensagem</b>
</ul>

<p>Links Relacionados</p>
<ul>
    <li><a href="ajuda.php?script=sms_log_index">Relatório de Envio</a></li>
</ul>