<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->

<h2>Logs do Sistema</h2>

<p>Esta rotina permite uma pesquisa nos Logs do Snep. Toda ação realizada pelo Snep é registrada num arquivo. Esta
ação pode ser uma ligação de um ramal para determinado número, uma transferência de chamada entre outros. Esta rotina
serve para auxilia-lo a detectar possíveis problemas no funcionamento da central telefônica.</p>

<strong>É possível verificar os logs de duas formas:</strong>

<ul>
    <li>
        <strong>Pesquisa nos Logs :</strong>
        É uma pesquisa mais detalhada, procurando ações que foram realizadas apartir de determinada origem
        ou destino, ou intervalo de dias.
        <br />
        <ul>
            <li><strong>Período:</strong> Especifica um intervalo de tempo onde pretende-se pesquisar determinada ocorrência.</li>
            <li><strong>Status do Log:</strong> Cada informação registrada nos logs possue um grau de importância, é possível especificar tal relevância através dos Status.</li>
            <li><strong>Origem / Destino :</strong> Possibilita que você especifique detarminada origem ou destino, como por exemplo, um ramal ou um número de telefone.</li>
        </ul>

    </li>
    <li>
        <strong>Em tempo real : </strong>
        Este tipo de pesquisa mostra os logs em tempo real, cada informação registrada é mostradas na tela.
        As informações são atualizadas num intervalo de 1 (um) segundo.
    </li>
</ul>