<!-- 
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP            
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt 
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Arquivos de Sons - Incluir/Alterar</h2>

<p>Esta rotina permite que:</p>
<ol>
	<li><strong>Um arquivo de Som existente seja Cadastrado no Sistema:</strong></li>
	   <ul>
	      <li>Na op&ccedil;&atilde;o INCLUIR, o sistema apresenta sempre uma lista de todos 
	      os arquivos existente no diret&oacute;rio padr&atilde;o de sons do Asterisk (/var/
	      lib/asterisk/sounds/br) e que ainda n&atilde;o foram Cadastrados.
	      <p>Cadastre o arquivo de som clicando sobre ele e preenchendo o campo
	      "Descri&ccedil;&atilde;o" e definindo se &eacute; um arquivo do Asterisk ou de uma
	      URA (Unidade de resposta Aud&iacute;vel).</p></li>
	   </ul>
	</li>
	<li><strong>Um Arquivo de Som novo seja colocado no diret&oacute;rio padr&atilde;o do Asterisk
	e consequentemente cadastrado no Sistema:</strong>
	   <ul>
   	  <li> Se for um novo arquivo a ser inserido, selecione o arquivo a partir
	      do bot&atilde;o [Arquivo/Browse], preencha o campo "Descri&ccedil;&atilde;o" e defina 
	      se &eacute; um arquivo do Asterisk ou de uma URA (Unidade de resposta Aud&iacute;vel).
	      Informe se o arquivo deve ou n&atilde;o ser convertido para o formato GSM.</li>
	      <br>
	   </ul>
	</li>
	<li><strong>Um arquivo de som cadastrado seja substitu&iacute;do por outro:</strong>
      <ul>
   	   <li>Neste caso, selecione o arquivo a partir do bot&atilde;o [Arquivo/Browse],
   	    preencha o campo "Descri&ccedil;&atilde;o" e defina se o arquivo deve 
   	    ou n&atilde;o ser convertido para o formato GSM.</li>
      </ul>
	</li>
</ol>
<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=rel_sounds">Arquivos de Som</a></li>              
</ul>