<!--
* ========================================================================
* Copyright (c) 2008 - Opens Tecnologia - Projeto SNEP
* Licenciado sob Creative Commons. Veja arquivo ./doc/licenca.txt
* Autor: Flavio henrique Somensi <flavio@opens.com.br>
* ========================================================================
-->
<h2>Aliases de Troncos - Cadastrar/Alterar</h2>

<p>Esta rotina permite que um Alias de tronco seja Cadastrado ou
Alterado </p>
<p>Os Aliases de Troncos s&atilde;o um "Apelido" que &eacute; usado para facilitar o entendimento do
usu&aacute;rio em rela&ccedil;&atilde;o &agrave; , muitas vezes, complexa sintaxe do cadastro de troncos.</p>
<p>Links Relacionados:</p>
<ul>
   <li><a href="ajuda.php?script=troncos">Troncos</a></li>              
   <li><a href="ajuda.php?script=rel_troncos_aliases">Aiases de Troncos</a></li>
</ul>