<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/index.css" );
$this->headScript()->appendFile('/snep/includes/javascript/scriptaculous/lib/prototype.js');
$this->headScript()->appendFile('/snep/includes/javascript/scriptaculous/src/scriptaculous.js');
$this->headScript()->appendFile('/snep/includes/javascript/registrations.js');

echo $this->render('filter.phtml');
?>

<table>
   <thead>
      <tr>
         <th class="action"> <?php echo $this->translate('Código') ?> </th>
         <th> <?php echo $this->translate('Nome') ?> </th>
         <th> <?php echo $this->translate('Tipo de Tronco') ?> </th>
         <th> <?php echo $this->translate('Tecnologia de Canais') ?> </th>
         <th> <?php echo $this->translate('Saldo de Tempo (min:seg)') ?> </th>
         <th colspan="2" class="action"> <?php echo $this->translate('Ações') ?>  </th>
      </tr>
   </thead>
   <tbody>

    <?php
    $c = 0;
    foreach($this->trunks as $cha => $val ): ?>
        <?php ($c ? $c = 0 : $c = 1 ); ?>
        <tr class="c<?php echo $c ?>">

            <td class="numeric"> <b> <?php echo $val['name'] ?> </b> </td>
            <td> <?php echo $val['callerid'] ?> </td>
            <td>
                <?php echo ( $val['trunktype'] == "T" ?  $this->translate("TDM") : $this->translate("IP") )  ?>
            </td>
            <td> <?php echo $val['type'] ?> </td>
            <td>
                <?php
                    if ($val['saldo'] == "Não Configurado") {

                        echo "<span style='color:#888'>" . $val['saldo'] . "</spam>" ;

                    } else {

                        echo $val['saldo'] ;

                    }
                ?>
            </td>
            <td class="action">
                <a class="alterar" href='/snep/src/troncos.php?acao=alterar&id=<?php echo $val['id']; ?>'>
                    <?php echo $this->translate('Alterar')?>
                </a>
            </td>
            <td class="action">
                <span class="excluir" onclick="remove_item('/snep/src/troncos.php?acao=excluir&id=<?php echo $val['id']; ?>&name=<?php echo $val['name'] ?>','<?php echo $this->translate("Deseja realmente excluir o Tronco?"); ?>')" >
                    <?php echo $this->translate('Excluir')?>
                </span>
            </td>
        </tr>
    <?php endforeach ?>
</table>

<?php echo $this->render('pagination.phtml') ?>